# Query Expansion
### Using FastText Word Embedding
Based on this paper: https://arxiv.org/pdf/1606.07608.pdf

Pre-made vector models: https://fasttext.cc/docs/en/aligned-vectors.html

In [1]:
from gensim.models import KeyedVectors
from itertools import islice
from sklearn.feature_extraction.text import TfidfVectorizer

import json
import pandas as pd
import string
import numpy as np
import collections
import math

# import natural language toolkit
from nltk.corpus   import stopwords
from nltk.tokenize import word_tokenize

C:\Users\sarab\Miniconda3\envs\envirolens\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [2]:
# prepare stopword list
stop_words = stopwords.words('english')

In [3]:
def take(n, iterable):
    "Return first n items of the iterable as a list"
    return list(islice(iterable, n))

In [4]:
import os
os.listdir()

['.ipynb_checkpoints',
 'document_embeddings.ipynb',
 'enviroLENS-deliverable-D4.2-images.ipynb',
 'query-expansion.ipynb',
 'query_modules.ipynb',
 'testing db functions.ipynb',
 'testing.ipynb',
 'titles_topics',
 'trectesting2.ipynb',
 't_tfidf_wsum006',
 't_tfidf_wsum007',
 't_tfidf_wsum008',
 't_tfidf_wsum009',
 't_tfidf_wsum01',
 'Untitled.ipynb']

In [5]:
wiki_en_align = './../data/fasttext/wiki.en.align.vec' #'../../data/fasttext/wiki.en.align.vec'
# get fasttext wiki embeddings for english
wv_wiki_en = KeyedVectors.load_word2vec_format(wiki_en_align)
print('english words {}'.format(len(list(wv_wiki_en.vocab.keys()))))

C:\Users\sarab\Miniconda3\envs\envirolens\lib\site-packages\smart_open\smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

english words 2519370

In [6]:
type(wv_wiki_en)

gensim.models.keyedvectors.Word2VecKeyedVectors

## Pre-retrieval kNN Based Approach

In [7]:
#list of terms
def tokenize(text, stopwords):
    """Tokenizes and removes stopwords from the document"""
    tokens = word_tokenize(text)
    filtered = [w.lower() for w in tokens if not w in stopwords]
    return filtered

In [8]:
#extended list of terms ###
def extend_tokens(token_list, wv):
    """Extends token list summing vector pairs"""
    tokens = []
    for token in token_list:
        # check if the token is in the vocabulary
        if token in wv.vocab.keys():
            tokens.append(token)
    extention = set()
    for i in range(len(tokens)-1):
        new_token = wv.most_similar(positive=[tokens[i], tokens[i+1]])[0][0]
        extention.add(new_token)
    extention = list(extention)
    return extention

In [9]:
test = tokenize('water pollution underground', stop_words)
print(test)
ext = extend_tokens(test,wv_wiki_en)
print(ext)

['water', 'pollution', 'underground']
['undergrounding', 'pollutions']

In [10]:
test1 = tokenize('annex fishing agreement europe', stop_words)
print(test1)
ext1 = extend_tokens(test1,wv_wiki_en)
print(ext1)

['annex', 'fishing', 'agreement', 'europe']
['agreements', 'flwfishing']

In [11]:
# knn nearest
def get_candidate_expansion_terms(tokens, k, wv):
    """Gets the candidate expansion terms"""
    candidates = set()
    for token in tokens:
        # check if the token is in the vocabulary
        if token in wv.vocab.keys():
            result = wv.similar_by_word(token)
            limit = k if len(result) > k else len(result)
            # iterate through the most similar words
            for i in range(limit):
                candidates.add(result[i][0])
    # return list of candidates
    candidates = list(candidates)
    return candidates

In [12]:
get_candidate_expansion_terms(["fish"], 5, wv_wiki_en)

['baitfish', 'fishes', 'milkfishes', 'gamefish', 'shellfishes']

In [13]:
candidates = get_candidate_expansion_terms(test+ext, 5, wv_wiki_en)
print(candidates)
witout = get_candidate_expansion_terms(test, 5, wv_wiki_en)
print(witout)

['undergrounded', 'undergrounder', 'sewage', 'undergrounding', 'pollution,', 'undergrounds', 'undergrounders', '#pollution', 'water—', 'undergroung', 'seawater', 'biopollution', 'potable', 'groundwater', 'pollutions', 'pollution', 'earpollution', 'undergroun', 'pollutants']
['undergrounded', '#pollution', 'water—', 'sewage', 'groundwater', 'undergroung', 'pollutions', 'undergrounding', 'seawater', 'undergrounds', 'earpollution', 'undergroun', 'biopollution', 'potable', 'pollution,']

In [14]:
# similarity between word and list of words
def similarity(token, token_list, wv ):
    """calculates the similarity between word and list of words"""
    # calculate the similarity of the token to all tokens
    similarity = 0
    num_of_tokens = 0
    for toks in token_list:
        # check if the token is in the vocabulary
        if toks in wv.vocab.keys():
            num_of_tokens += 1
            similarity += wv.similarity(toks, token)
    return similarity/num_of_tokens

In [15]:
# calculates similarity and sorts
def get_top_expansion_terms(tokens, candidates, wv):
    """Gets the actual expansion terms"""
    similarity_pairs = []
    for candidate in candidates:
        sim = similarity(candidate, tokens, wv)
        similarity_pairs.append((candidate, sim))
    # return the list of expansion terms with their similarities
    return similarity_pairs

In [17]:
# get actual expansion terms for test set; with and without extension
top = get_top_expansion_terms(test+ext, candidates,  wv_wiki_en)
topwithout = get_top_expansion_terms(test, candidates,  wv_wiki_en)
def takeSecond(elem):
    return elem[1]
top = sorted(top, key=takeSecond)[::-1]
topw = sorted(topwithout, key=takeSecond)[::-1]
print((top))
print((topw))
top = top[0:5]
topw = topw[0:5]
top_list = []
for tupl in top:
    top_list.append(tupl[0])
topw_list = []
for tupl in topw:
    topw_list.append(tupl[0])

# get actual expansion terms for test1 set; with and without extension
top1 = get_top_expansion_terms(test1+ext1, candidates,  wv_wiki_en)
topwithout1 = get_top_expansion_terms(test1, candidates,  wv_wiki_en)

top1 = sorted(top1, key=takeSecond)[::-1]
topw1 = sorted(topwithout1, key=takeSecond)[::-1]
top1 = top1[0:5]
topw1 = topw1[0:5]
top_list1 = []
for tupl in top1:
    top_list1.append(tupl[0])
topw_list1 = []
for tupl in topw1:
    topw_list1.append(tupl[0])

[('pollution', 0.6260276407951795), ('pollutions', 0.5989783010567384), ('undergrounding', 0.5868486694404182), ('earpollution', 0.5791309410113682), ('pollution,', 0.5584437076938438), ('pollutants', 0.5473505877035749), ('groundwater', 0.5472185974670385), ('sewage', 0.5438533174483885), ('undergrounds', 0.5373294534380543), ('#pollution', 0.5307803259871704), ('biopollution', 0.5239432296935493), ('undergrounded', 0.5166503920961191), ('undergrounders', 0.5048834686641379), ('undergroun', 0.4968187167322256), ('undergrounder', 0.4930006599112927), ('undergroung', 0.489668825408463), ('seawater', 0.48062588166948944), ('potable', 0.47213486261999227), ('water—', 0.4339509338693007)]
[('pollution', 0.6073097696558459), ('groundwater', 0.572225614085378), ('sewage', 0.5672777675468184), ('earpollution', 0.5479508482970045), ('pollutions', 0.5392823009654663), ('pollution,', 0.5361565112564385), ('pollutants', 0.5332377192240293), ('seawater', 0.5219145986771884), ('undergrounding', 0.5190662482715993), ('potable', 0.5137930541544308), ('#pollution', 0.5053773015402238), ('biopollution', 0.504703593451706), ('undergrounds', 0.48430795952141487), ('water—', 0.47646895745070106), ('undergrounded', 0.46550011202029024), ('undergrounders', 0.4524525797301971), ('undergroun', 0.4511787727249055), ('undergroung', 0.4484747924647392), ('undergrounder', 0.44571173169707395)]

In [16]:
# all functions together, finds k nearest for each term, returns top n
def pre_retrieval_KNN(string, k, wv, n):
    """Find the most similar tokens to the given query"""
    tokens = tokenize(string, stop_words)
    candidates = get_candidate_expansion_terms(tokens, k, wv)
    candidates_sim = get_top_expansion_terms(tokens, candidates, wv)
    def takeSecond(elem):
        return elem[1]
    sort = sorted(candidates_sim, key=takeSecond)[::-1]
    return sort[:n]

In [17]:
pre_retrieval_KNN('deep', 15, wv_wiki_en, 15)

[('deeper', 0.7391939305931274),
 ('deepest', 0.6943081694334498),
 ('shallow', 0.6193613248537374),
 ('deeps', 0.6047575334790283),
 ('depths', 0.6011057073807676),
 ('deepe', 0.5938460628287918),
 ('deep,', 0.5859666598255622),
 ('shallowed', 0.583433385064088),
 ('deepers', 0.5757998018436017),
 ('deepesh', 0.570137993578689)]

In [18]:
pre_retrieval_KNN('fishing and pollution', 15, wv_wiki_en, 15)

[('pollutions', 0.6271618716914852),
 ('—fishing', 0.6187853691901083),
 ('shellfishing', 0.6062972260940005),
 ('‘fishing', 0.6062562445167072),
 ('earpollution', 0.6010677191786318),
 ('flwfishing', 0.5958800042388847),
 ('pollution,', 0.5895427243095528),
 ('fishing,\u3000', 0.5847228653899453),
 ('#pollution', 0.5825691062808801),
 ('biopollution', 0.5803963372819559),
 ('fishings', 0.579665719484446),
 ('polluting', 0.5758477844891869),
 ('billfishing', 0.5739594348713932),
 ('sollution', 0.5724698912220131),
 ('gamefishing', 0.5716465085305145)]

In [21]:
pre_retrieval_KNN('underground', 15, wv_wiki_en, 15)

[('undergrounds', 0.9179600940200481),
 ('undergroun', 0.8998362698613858),
 ('undergroung', 0.8908817840768637),
 ('undergrounded', 0.8905654223562418),
 ('undergrounding', 0.8774652255413747),
 ('underground,', 0.864975977115042),
 ('undergrounder', 0.863371207446057),
 ('‘underground', 0.8486077380180744),
 ('undergrounders', 0.8468026308820736),
 ('undergroud', 0.8240030184734265)]

In [22]:
pre_retrieval_KNN('pollution', 15, wv_wiki_en, 15)

[('pollutions', 0.9166142395275622),
 ('pollution,', 0.8794701382056926),
 ('#pollution', 0.8381261902767326),
 ('earpollution', 0.8319100859328133),
 ('biopollution', 0.8275063703183863),
 ('pollutants', 0.811238387992271),
 ('antipollution', 0.8036468757467374),
 ('pollut', 0.7968592254436011),
 ('polluting', 0.7878968364118702),
 ('sollution', 0.7834910856693191)]

In [23]:
pre_retrieval_KNN('deforestation', 15, wv_wiki_en, 15)

[('deforestations', 0.9543662655883809),
 ('deforestated', 0.8770535809858295),
 ('forestation', 0.8603426012583533),
 ('reforestation', 0.8474253223194705),
 ('deforestator', 0.8424493806368417),
 ('rainforestation', 0.8416130982869243),
 ('deforested', 0.840407202191005),
 ('deforesting', 0.837824533688038),
 ('deforestion', 0.8273205199154788),
 ('afforestation', 0.7714247425497361)]

In [24]:
pre_retrieval_KNN('fishing', 15, wv_wiki_en, 15)

[('—fishing', 0.8224531025707755),
 ('fishing,\u3000', 0.8175126643141182),
 ('fishings', 0.7937207347071881),
 ('‘fishing', 0.7848391574115785),
 ('fishing,', 0.7788249395298493),
 ('codfishing', 0.7764357551424427),
 ('gamefishing', 0.7726032676663466),
 ('shellfishing', 0.7702744225755196),
 ('billfishing', 0.7617344350893832),
 ('flwfishing', 0.757403056207396)]

In [26]:
pre_retrieval_KNN('fish', 15, wv_wiki_en, 15)

[('fishes', 0.8091816234334873),
 ('baitfish', 0.7484850728532674),
 ('milkfishes', 0.7438243794721577),
 ('shellfishes', 0.737795091718359),
 ('gamefish', 0.728902819872663),
 ('mudfishes', 0.7288577509453343),
 ('beakfish', 0.7276970772384057),
 ('goldfishes', 0.7234903439609776),
 ('billfishes', 0.7199549836696606),
 ('fishwater', 0.7198671529918804)]

In [25]:
pre_retrieval_KNN('annex', 15, wv_wiki_en, 15)

[('annexes', 0.716713979048553),
 ('annexet', 0.7042431294278589),
 ('mannex', 0.6553835809055547),
 ('annexe', 0.6403126926256983),
 ('annexy', 0.6340643399412271),
 ('annext', 0.592006018305464),
 ('brannex', 0.5619266512662793),
 ('annexed', 0.5303272978298281),
 ('building', 0.5265608624567143),
 ('gannex', 0.5140592604975713)]

### Document retrieval

In [22]:
import sys
print(sys.path)

['D:\\Users\\sarab\\work\\enviroLens\\final\\enviroLENS\\word-embeddings\\notebooks', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\python37.zip', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\DLLs', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens', '', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages\\modules-1.0-py3.7.egg', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages\\win32', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages\\win32\\lib', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages\\Pythonwin', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages\\IPython\\extensions', 'D:\\Users\\sarab\\.ipython']

In [2]:
# import postgresql
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.insert(0, module_path)
print(sys.path)
from modules.library.postgresql import PostgresQL
# connect to the postgresql database
pg = PostgresQL() 
pg.connect(database="eurlex_environment_only", user="postgres", password="dbpass") #"eurlex_env_only" "solata.2018"

['D:\\Users\\sarab\\work\\enviroLens\\final\\enviroLENS\\word-embeddings', 'D:\\Users\\sarab\\work\\enviroLens\\final\\enviroLENS\\word-embeddings\\notebooks', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\python37.zip', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\DLLs', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens', '', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages\\modules-1.0-py3.7.egg', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages\\win32', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages\\win32\\lib', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages\\Pythonwin', 'D:\\Users\\sarab\\AppData\\Local\\conda\\conda\\envs\\EnviroLens\\lib\\site-packages\\IPython\\extensions', 'D:\\Users\\sarab\\.ipython']

In [23]:
#import documents 
# documents = pg.execute("""
#     SELECT * FROM documents WHERE LOWER(document_text) ~ '(LOWER({}))';
# """.format('|'.join(['fishing'])))
documents = pg.execute("""
    SELECT * FROM documents;
""")

In [ ]:
words =[ "agreement", "fish"]
output = '|'.join(words)
output

In [7]:
# ta dela ampak pocasi, pocakaj na Samota
def db_query(query_words):
    """ Vrne seznam dokumentov iz baze, ki vsebujejo vsaj eno od besed iz seznama(list) query_words"""
    output = '|'.join(query_words)
    SQL = """
        SELECT * FROM documents
        WHERE document_text @@ to_tsquery(""" + '\''+ output + '\'' + """);"""
    documents = pg.execute(SQL)
    return(documents)

In [8]:
words =[ "agreement", "fish"]
docs = db_query(words)

In [5]:
print(len(dos
         ))

23722

In [25]:
documents[1]

{'document_id': 33,
 'document_celex_num': '21981A0916(01)',
 'document_title': 'Exchange of letters between the European Economic Community and the Peoples Republic of Poland on trade in sheepmeat and goatmeat - Exchange of letters relevant to the consultations foreseen in clause 8 of the exchange of letters - Exchange of letters relevant to clause 2 of the exchange of letters',
 'document_author': 'European Economic Community',
 'document_form': 'Exchange of letters',
 'document_date': datetime.date(1981, 4, 28),
 'document_text': 'Avis juridique important|21981A0916(01)Exchange of letters between the European Economic Community and the Peoples Republic of Poland on trade in sheepmeat and goatmeat - Exchange of letters relevant to the consultations foreseen in clause 8 of the exchange of letters - Exchange of letters relevant to clause 2 of the exchange of lettersOfficial Journal L 137 , 23/05/1981 P. 0013 - 0020 EXCHANGE OF LETTERS between the European Economic Community and the Peoples Republic of Poland on trade in sheepmeat and goatmeat Letter No 1Sir,I have the honour to refer to the negotiations recently undertaken between our respective delegations for the purpose of drawing up provisions concerning import into the European Economic Community of mutton, lamb and goatmeat, and live sheep and goats other than pure-bred breeding animals from the Peoples Republic of Poland, in connection with implementation by the Community of the common organization of the market in sheepmeat and goatmeat.During these negotiations which took place between the two Parties, who are participants in GATT, our delegations agreed as follows:1. This arrangement covers:- live sheep and goats other than pure-bred breeding animals (subheading 01.04 B of the Common Customs Tariff), - fresh or chilled mutton, lamb and goatmeat (subheading 02.01 A IV a) of the Common Customs Tariff), - frozen mutton, lamb and goatmeat (subheading 02.01 A IV b) of the Common Customs Tariff).The two Parties agree that steps should be taken to ensure that the smooth operation of the agreement should not be upset by delivery of sheepmeat and goatmeat products falling under tariff headings not covered by the arrangement. 2. Within this arrangement, the scope for imports of sheepmeat and goatmeat and for live sheep and goats from Poland into the Community shall be fixed at the following annual quantities:- 5 800 tonnes of live animals, expressed in carcase weight bone-in (1), - 200 tonnes of fresh or chilled meat, expressed in carcase weight bone-in (2).In order to ensure the smooth operation of the arrangement, the competent Polish authorities undertake to implement the appropriate procedures to ensure that the quantities actually exported do not exceed the abovementioned figures. 3. In the case of imports of the products covered by this arrangement and up to the quantity limits therein laid down, the Community will not apply new quantitative restrictions or measures of equivalent effect nor levy customs duties or taxes of equivalent effect to levies or customs duties exceeding those agreed in clause 5.Were the Community to invoke the protective clause, it is hereby agreed that the provisions of this arrangement would not be affected. (1) 100 kilograms live weight shall correspond to 47 kilograms carcase weight (bone-in equivalent weight).(2) Carcase weight (bone-in equivalent weight). By this term is understood the weight of bone-in meat presented as such as well as boned meat converted by a coefficient into bone-in weight. For this purpose 55 kilograms of boned mutton corresponds to 100 kilograms of bone-in mutton and 60 kilograms of boned lamb corresponds to 100 kilograms of bone-in lamb. 4. If imports from Poland exceed the agreed quantities, the Community reserves the right to suspend further imports from that country until the end of the current year. However, in any event, quantities beyond those agreed for the current year shall be deducted from the quantities agreed for the following year. 5. The Community undertakes, on import of products covered by this arrangement, to limit the amounts levied to the following ad valorem levels:- 10 % for live animals, - 10 % for meat. 6. On accession of new Member States to the Community, the quantities referred to in clause 2 shall be, as appropriate, adapted by the Community, in consultation between the two Parties, to reflect the trade between the Peoples Republic of Poland and each such new Member State. The quantities shall not be reduced.The charges to be levied on imports in respect of the said new Member States shall be fixed in accordance with the rules in the Treaty of Accession ; the limit on the levy set out in clause 5 shall be taken into account. 7. The competent Polish authorities shall ensure compliance with this arrangement, in particular through issue by the competent agency, which they shall designate for the purpose, of export licences applicable to the products referred to at clause 1, up to the maximum agreed quantity.The Community agrees to take all the necessary measures to make automatic issue of an import licence, no later than release from customs bond, for the abovementioned products originating in Poland subject to production of an export licence issued by the competent Polish authority.Detailed rules for the implementation of this system shall be drawn up so that the lodging of a security for the issue of import licences in respect of the products in question shall be unnecessary. These detailed rules shall also provide that the competent Polish authorities and the competent Community authorities shall undertake periodical exchanges of information in respect of the quantities in respect of which export and import licences have been issued, broken down according to destination as appropriate, as well as in respect of quantities which have actually been shipped.It is hereby agreed that export licences will be valid for three months with effect from their date of issue. The corresponding import licences shall be valid until the date of expiry of the export licences.Quantities delivered under an export licence shall be deducted from the quantity agreed in respect of the year during which the export licence was issued. 8. In order to ensure the smooth operation of this arrangement, the two Parties shall take the appropriate measures and agree to remain in close contact and to be ready to undertake consultation in respect of any question which might arise while this arrangement applies. Consultation must commence within a maximum of 14 days after a request by one of the Parties. 9. The annual quantity fixed in clause 2 shall cover the period 1 January to 31 December.The quantity applicable as from the date of implementation of this arrangement up to 1 January of the following year shall be fixed by consultation between the two Parties in proportion to the total annual quantity, adjusted to reflect the seasonal trend in Polish deliveries of the products in question during the year.10. This Agreement shall apply, on the one hand, to the territories in which the Treaty establishing the European Economic Community is applied and under the conditions laid down in that Treaty and, on the other hand, to the territory of the Peoples Republic of Poland. 11. This arrangement shall enter into force on 1 January 1981. It shall apply until 31 March 1984. It shall thereafter be automatically extended for periods of one year, subject to the right of either Party to terminate it by notice in writing given six months before the date of expiry of any one of the said periods. In case of termination, the arrangement shall expire at the date of expiry of the period in question. In any case, the provisions of this arrangement shall be reviewed by the two Parties before 1 April 1984 for the purpose of incorporating any adaptation which might seem necessary for its extension.I would be grateful to you if you would confirm to me that the foregoing correctly expresses what our two delegations agree in this respect.Please accept, Sir, the assurance of my highest consideration.For the Council of the European CommunitiesLetter No 2Sir,I have the honour to acknowledge receipt of your letter of todays date which reads as follows:"I have the honour to refer to the negotiations recently undertaken between our respective delegations for the purpose of drawing up provisions concerning import into the European Economic Community of mutton, lamb and goatmeat, and live sheep and goats other than pure-bred breeding animals from the Peoples Republic of Poland, in connection with implementation by the Community of the common organization of the market in sheepmeat and goatmeat.During these negotiations which took place between the two Parties, who are participants in GATT, our delegations agreed as follows:1. This arrangement covers:- live sheep and goats other than pure-bred breeding animals (subheading 01.04 B of the Common Customs Tariff), - fresh or chilled mutton, lamb and goatmeat (subheading 02.01 A IV a) of the Common Customs Tariff), - frozen mutton, lamb and goatmeat (subheading 02.01 A IV b) of the Common Customs Tariff).The two Parties agree that steps should be taken to ensure that the smooth operation of the agreement should not be upset by delivery of sheepmeat and goatmeat products falling under tariff headings not covered by the arrangement. 2. Within this arrangement, the scope for imports of sheepmeat and goatmeat and for live sheep and goats from Poland into the Community shall be fixed at the following annual quantities: - 5 800 tonnes of live animals, expressed in carcase weight bone-in (1), - 200 tonnes of fresh or chilled meat, expressed in carcase weight bone-in (2).In order to ensure the smooth operation of the arrangement, the competent Polish authorities undertake to implement the appropriate procedures to ensure that the quantities actually exported do not exceed the abovementioned figures. 3. In the case of imports of the products covered by this arrangement and up to the quantity limits therein laid down, the Community will not apply new quantitative restrictions or measures of equivalent effect nor levy customs duties or taxes of equivalent effect to levies or customs duties exceeding those agreed in clause 5.Were the Community to invoke the protective clause, it is hereby agreed that the provisions of this arrangement would not be affected. 4. If imports from Poland exceed the agreed quantities, the Community reserves the right to suspend further imports from that country until the end of the current year. However, in any event, quantities beyond those agreed for the current year shall be deducted from the quantities agreed for the following year. 5. The Community undertakes, on import of products covered by this arrangement, to limit the amounts levied to the following ad valorem levels:- 10 % for live animals, - 10 % for meat. 6. On accession of new Member States to the Community, the quantities referred to in clause 2 shall be, as appropriate, adapted by the Community, in consultation between the two Parties, to reflect the trade between the Peoples Republic of Poland and each such new Member State. The quantities shall not be reduced.The charges to be levied on imports in respect of the said new Member States shall be fixed in accordance with the rules in the Treaty of Accession ; the limit on the levy set out in clause 5 shall be taken into account. 7. The competent Polish authorities shall ensure compliance with this arrangement, in particular through issue by the competent agency, which they shall designate for the purpose, of export licences applicable to the products referred to at clause 1, up to the maximum agreed quantity.The Community agrees to take all the necessary measures to make automatic issue of an import licence, no later than release from customs bond, for the abovementioned products originating in Poland subject to production of an export licence issued by the competent Polish authority.Detailed rules for the implementation of this system shall be drawn up so that the lodging of a security for the issue of import licences in respect of the products in question shall be unnecessary. These detailed rules shall also provide that the competent Polish authorities and the competent Community authorities shall undertake periodical exchanges of information in respect of the quantities in respect of which export and import licences have been issued, broken down according to destination as appropriate, as well as in respect of quantities which have actually been shipped. (1) 100 kilograms live weight shall correspond to 47 kilograms carcase weight (bone-in equivalent weight).(2) Carcase weight (bone-in equivalent weight). By this term is understood the weight of bone-in meat presented as such as well as boned meat converted by a coefficient into bone-in weight. For this purpose 55 kilograms of boned mutton corresponds to 100 kilograms of bone-in mutton and 60 kilograms of boned lamb corresponds to 100 kilograms of bone-in lamb.It is hereby agreed that export licences will be valid for three months with effect from their date of issue. The corresponding import licences shall be valid until the date of expiry of the export licences.Quantities delivered under an export licence shall be deducted from the quantity agreed in respect of the year during which the export licence was issued. 8. In order to ensure the smooth operation of this arrangement, the two Parties shall take the appropriate measures and agree to remain in close contact and to be ready to undertake consultation in respect of any question which might arise while this arrangement applies. Consultation must commence within a maximum of 14 days after a request by one of the Parties. 9. The annual quantity fixed in clause 2 shall cover the period 1 January to 31 December.The quantity applicable as from the date of implementation of this arrangement up to 1 January of the following year shall be fixed by consultation between the two Parties in proportion to the total annual quantity, adjusted to reflect the seasonal trend in Polish deliveries of the products in question during the year. 10. This Agreement shall apply, on the one hand, to the territories in which the Treaty establishing the European Economic Community is applied and under the conditions laid down in that Treaty and, on the other hand, to the territory of the Peoples Republic of Poland. 11. This arrangement shall enter into force on 1 January 1981. It shall apply until 31 March 1984. It shall thereafter be automatically extended for periods of one year, subject to the right of either Party to terminate it by notice in writing given six month before the date of expiry of any one of the said periods. In the case of termination, the arrangement shall expire at the date of expiry of the period in question. In any case, the provisions of this arrangement shall be reviewed by the two Parties before 1 April 1984 for the purpose of incorporating any adaptation which might seem necessary for its extension.I would be grateful to you if you would confirm to me that the foregoing correctly expresses what our two delegations agree in this respect."I have the honour to confirm to you that the foregoing correctly expresses what our two delegations agree in this respect.Please accept, Sir, the assurance of my highest consideration.For the Government of the Peoples Republic of PolandEXCHANGE OF LETTERS relevant to the consultations foreseen in clause 8 of the exchange of letters between the European Economic Community and the Peoples Republic of Poland on trade in sheepmeat and goatmeatLetter No 1Sir,Since it was not possible to reach sufficiently precise solutions to some questions raised by Poland during the negotiations for this arrangement between the European Economic Community and the Peoples Republic of Poland on trade in sheepmeat and goatmeat, it was agreed during the negotiations, that, during the consultations provided for in clause 8 of the arrangement, if Poland were to raise any concrete problems, the following points could be covered by the said consultations without prejudice to the terms of clause 8:1. cases of force majeure; 2. supply of live animals within the quantity agreed for meat; 3. in cases where the quantity agreed for a given year was entirely taken up, advance use, at the end of the current year, of a limited proportion of the quantity agreed for the following year; 4. use of the agreed quantities for the purposes of export of frozen meat of Polish origin to the Community; 5. the possibility of allowing imports of quantities over and above those fixed in clause 2 of the arrangement if the Community market were to require additional imports; 6. the possibility of delivering export and import certificates for quantities above those agreed, in so far as the quantities actually imported are below those for which import certificates have been delivered.For its part, the Community would be prepared to undertake the said consultations in a spirit of cooperation in respect of any requests put forward by Poland.Furthermore, I have the honour hereby to confirm to you the following declaration made by the Community during the abovementioned negotiations:- imports into the Community of products covered by the arrangements shall not be subject to the quantitative limits set out in point 2 of that arrangement provided that these products are re-exported from the Community either without further processing or after inward processing under the relevant Community system.I should be obliged if you would kindly acknowledge receipt of this letter.Please accept, Sir, the assurance of my highest consideration.For the Council of the European Communities Top'}

In [ ]:
(document_text <> '') IS NOT TRUE

In [23]:
print(len(documents))

123157

In [112]:
docs = documents
# some docs are empty !!!!!!!!!!!!!!!!!!!

# for doc in docs:
#     idd= doc.get('document_id')
#     if idd == 39722:
#         print(doc)

delete = []
for doc in docs:
    n = len(doc.get('document_text'))
    if n == 0:
        id_doc = doc.get('document_id')
        delete.append(id_doc)
            
# remove empty docs
for doc in docs:
    id_doc = doc.get('document_id')
    if id_doc in delete:
        docs.remove(doc)

In [113]:
print(len(docs))

99369

In [26]:
#get tokenzized documents (texts), texts, tokenzized titles and titles #use postgress
tokenized_docs = {}
tokenized_titles = {}
texts = {}
titles = {}
for document in docs:
    doc_id = document.get('document_id')
    text = document.get('document_text')
    texts.update({doc_id: text})
    title = document.get('document_title')
    titles.update({doc_id: title})
    text = text.translate(str.maketrans('','',string.punctuation))
    tokenized = tokenize(text, stop_words)
    title = title.translate(str.maketrans('','',string.punctuation))
    tokenized_title = tokenize(title, stop_words)
    for token in tokenized:
        if len(token) == 1:
            if token.isalpha():
                tokenized.remove(token)
    tokenized_docs.update({doc_id: tokenized})
    for title in tokenized_title:
        if len(title) == 1:
            if title.isalpha():
                tokenized_title.remove(title)
    tokenized_titles.update({doc_id: tokenized_title})

In [115]:

print(tokenized_titles.get(3))
print(titles.get(3))

['agreement', 'relating', 'principally', 'chemicals', 'supplementary', 'geneva', '1967', 'protocol', 'general', 'agreement', 'tariffs', 'trade', 'negotiated', 'geneva', '30', 'june', '1967']
/* Agreement relating principally to chemicals, supplementary to the Geneva (1967) Protocol to the General Agreement on Tariffs and Trade, negotiated in Geneva on 30 June 1967 */

In [116]:
print(tokenized_docs.get(39703))
print(texts.get(39703))

[]

In [27]:
# still some empty documents
print(len(tokenized_docs))
#print(take(1, tokenized_docs.items()))
empt=[]
for k,v in tokenized_docs.items():
    l =len(v)
    if l==0:
        empt.append(k)
print(len(empt))
#print((empt))

for k in empt:
    del tokenized_docs[k]
    del tokenized_titles[k]
    del texts[k]
    del titles[k]

99412
23151

In [118]:
print(len(tokenized_docs))
print(len(tokenized_titles))
print(len(texts))
print(len(titles))

76261
76261
76261
76261

In [24]:
# just making smaller document set for faster testing, can delete later
tokenized_docs1 = {}
tokenized_titles1 = {}
texts1= {}
titles1={}
for k in range(1,1000):
    vtd = tokenized_docs.get(k)
    vtt = tokenized_titles.get(k)
    vx = texts.get(k)
    vt =titles.get(k)
    tokenized_docs1.update({k:vtd})
    tokenized_titles1.update({k:vtt})
    texts1.update({k:vx})
    titles1.update({k:vt})

NameError: name 'tokenized_docs' is not defined

In [ ]:
print(len(tokenized_docs1))
print(len(tokenized_titles1))
print(len(texts1))
print(len(titles1))
tokenized_docs1 = {k:v for k,v in tokenized_docs1.items() if v is not None}


#### search full words (not lemmatized), search as substrings

In [ ]:
#### 1. probability scoring

In [31]:
# probability scoring
### all query words have to be in the document (multiplying)

def probab_score(tokens,tokenized_docs,texts):
    doc_probab = {}
    for k, v in tokenized_docs.items():
        n = len(v)
        probability = 1
        text = texts.get(k)
        for token in tokens:
            token_frequency = text.count(token)
            probability = probability*(token_frequency/n)
        doc_probab.update({k: probability})
    return doc_probab

In [123]:
# only original query
score =probab_score(test,tokenized_docs,texts)
#how many docs have positive score?
positives = dict([(k,v) for k,v in score.items() if v > 0])
sorted_positives = sorted(positives.items(), key=lambda x: x[1],reverse=True)
sorted_positives_top = sorted_positives[0:10]
print(sorted_positives_top)

# original query + extension
score =probab_score(test+ext,tokenized_docs,texts)
#how many docs have positive score?
print(([(k,v) for k,v in score.items() if v > 0]))


# only original query
score =probab_score(test1,tokenized_docs,texts)
#how many docs have positive score?
positives = dict([(k,v) for k,v in score.items() if v > 0])
sorted_positives = sorted(positives.items(), key=lambda x: x[1],reverse=True)
sorted_positives_top = sorted_positives[0:10]
print(sorted_positives_top)

# original query + extension
score =probab_score(test1+ext1,tokenized_docs,texts)
#how many docs have positive score?
print(([(k,v) for k,v in score.items() if v > 0]))


# no point having an extention, empty results are ok

[(120739, 2.2778939503692463e-06), (90952, 1.4623827626019007e-06), (98346, 9.60986510312026e-07), (100875, 9.116079910329329e-07), (96934, 7.795624765214125e-07), (98891, 4.7381201508301593e-07), (99214, 4.374815382790846e-07), (53800, 2.5508770567849454e-07), (101429, 2.4695734439852766e-07), (101872, 2.433802400069899e-07)]
[]
[(72, 4.866706628529354e-11), (4098, 3.9980157168428714e-11), (31030, 1.0620609744608273e-11), (85, 6.56566844179315e-12), (47616, 4.413577090077561e-12), (59689, 3.662677012225006e-12), (2146, 2.529433698703274e-12), (25303, 2.2094496103487563e-12), (57414, 2.1926876323265894e-12), (31131, 1.3631354904463345e-12)]
[]

In [ ]:
    def probability_score(tokens,texts):
        """Assigns score to document based on multiplication of probabilities. Used only for query searches which demand that all query words 
        should be in doucuments returned.
        Args:
            tokens (list): List of tokens (tokenized query).
            tokenized_docs (dict): Keys represent document ids, values are lists of tokenized text (content) of documents.
            texts (dict):  Keys represent document ids, values are document text.
        Returns:
            document_probability (dict): Keys represent document ids, values are scores that measure adequacy of the document.
        """
        document_probability = {}
        for k, v in texts.items():
            n = len(v)
            probability = 1
            for token in tokens:
                token_frequency = v.count(token)
                probability = probability*(token_frequency/n)
            document_probability.update({k: probability})
        return document_probability

{1: 0.0,
 2: 5.682684467100214e-12,
 3: 0.0,
 5: 0.0,
 6: 0.0,
 7: 0.0,
 8: 0.0,
 9: 0.0,
 10: 0.0,
 11: 0.0,
 12: 0.0,
 13: 0.0,
 14: 0.0,
 15: 0.0,
 16: 0.0,
 17: 0.0,
 18: 0.0,
 19: 0.0,
 20: 0.0,
 21: 0.0,
 22: 0.0,
 23: 0.0,
 24: 0.0,
 25: 0.0,
 26: 0.0,
 27: 0.0,
 28: 0.0,
 29: 0.0,
 30: 0.0,
 31: 0.0,
 32: 0.0,
 33: 0.0,
 34: 0.0,
 35: 0.0,
 36: 0.0,
 37: 0.0,
 38: 0.0,
 39: 0.0,
 58: 0.0,
 116: 0.0,
 2624: 0.0,
 40: 0.0,
 41: 0.0,
 42: 0.0,
 43: 0.0,
 3021: 0.0,
 44: 0.0,
 45: 0.0,
 46: 0.0,
 47: 0.0,
 48: 0.0,
 49: 0.0,
 50: 0.0,
 51: 1.1509197350428859e-11,
 52: 0.0,
 53: 0.0,
 54: 0.0,
 55: 0.0,
 56: 0.0,
 57: 0.0,
 59: 0.0,
 60: 0.0,
 61: 0.0,
 62: 0.0,
 63: 0.0,
 64: 0.0,
 65: 0.0,
 66: 0.0,
 67: 0.0,
 3022: 0.0,
 68: 0.0,
 69: 0.0,
 70: 0.0,
 71: 0.0,
 72: 0.0,
 73: 0.0,
 74: 0.0,
 75: 0.0,
 76: 0.0,
 77: 0.0,
 78: 0.0,
 79: 0.0,
 80: 1.6387162322777285e-11,
 81: 0.0,
 82: 0.0,
 83: 0.0,
 91: 0.0,
 92: 0.0,
 84: 0.0,
 85: 0.0,
 86: 0.0,
 87: 0.0,
 88: 0.0,
 89: 0.0,
 90: 0.0,
 93: 0.0,
 3023: 0.0,
 94: 0.0,
 95: 0.0,
 96: 0.0,
 97: 0.0,
 98: 0.0,
 99: 0.0,
 100: 0.0,
 101: 0.0,
 115: 0.0,
 2625: 0.0,
 102: 0.0,
 103: 0.0,
 104: 0.0,
 105: 0.0,
 106: 0.0,
 107: 0.0,
 108: 0.0,
 109: 0.0,
 110: 0.0,
 111: 0.0,
 112: 0.0,
 113: 0.0,
 114: 0.0,
 117: 0.0,
 118: 0.0,
 119: 0.0,
 120: 0.0,
 121: 0.0,
 122: 0.0,
 123: 0.0,
 124: 0.0,
 125: 0.0,
 126: 0.0,
 127: 0.0,
 128: 0.0,
 3024: 0.0,
 129: 0.0,
 130: 0.0,
 131: 0.0,
 132: 0.0,
 133: 0.0,
 134: 0.0,
 135: 0.0,
 136: 0.0,
 137: 0.0,
 138: 0.0,
 146: 0.0,
 158: 0.0,
 159: 0.0,
 3025: 0.0,
 139: 0.0,
 140: 0.0,
 141: 0.0,
 142: 0.0,
 143: 0.0,
 144: 0.0,
 145: 0.0,
 157: 0.0,
 147: 0.0,
 148: 0.0,
 149: 0.0,
 150: 0.0,
 151: 0.0,
 152: 0.0,
 153: 0.0,
 154: 0.0,
 155: 0.0,
 156: 0.0,
 160: 0.0,
 161: 0.0,
 162: 0.0,
 163: 0.0,
 164: 0.0,
 165: 0.0,
 166: 0.0,
 167: 0.0,
 186: 0.0,
 168: 0.0,
 169: 0.0,
 170: 0.0,
 171: 0.0,
 172: 0.0,
 173: 0.0,
 205: 0.0,
 206: 0.0,
 524: 0.0,
 174: 0.0,
 175: 0.0,
 176: 0.0,
 177: 0.0,
 178: 0.0,
 179: 0.0,
 180: 0.0,
 181: 0.0,
 182: 0.0,
 183: 0.0,
 184: 0.0,
 185: 0.0,
 187: 0.0,
 188: 0.0,
 189: 0.0,
 190: 0.0,
 191: 0.0,
 192: 0.0,
 193: 0.0,
 194: 0.0,
 195: 0.0,
 196: 0.0,
 197: 0.0,
 198: 0.0,
 525: 0.0,
 199: 0.0,
 200: 0.0,
 201: 0.0,
 202: 0.0,
 203: 0.0,
 204: 0.0,
 207: 0.0,
 208: 0.0,
 209: 0.0,
 210: 0.0,
 211: 0.0,
 212: 0.0,
 213: 0.0,
 214: 0.0,
 215: 0.0,
 216: 0.0,
 237: 0.0,
 217: 0.0,
 218: 0.0,
 219: 0.0,
 220: 0.0,
 221: 0.0,
 222: 0.0,
 223: 0.0,
 224: 0.0,
 225: 0.0,
 226: 0.0,
 238: 0.0,
 239: 0.0,
 240: 0.0,
 227: 0.0,
 228: 0.0,
 229: 0.0,
 230: 0.0,
 231: 0.0,
 232: 0.0,
 233: 0.0,
 234: 0.0,
 235: 0.0,
 236: 0.0,
 241: 0.0,
 242: 0.0,
 243: 0.0,
 244: 0.0,
 245: 0.0,
 246: 0.0,
 247: 0.0,
 248: 0.0,
 249: 0.0,
 250: 0.0,
 260: 0.0,
 261: 0.0,
 526: 0.0,
 655: 0.0,
 656: 0.0,
 3026: 0.0,
 251: 0.0,
 252: 0.0,
 253: 0.0,
 254: 0.0,
 255: 0.0,
 256: 0.0,
 257: 0.0,
 258: 0.0,
 259: 0.0,
 262: 0.0,
 263: 0.0,
 264: 0.0,
 265: 0.0,
 266: 0.0,
 267: 0.0,
 268: 0.0,
 269: 0.0,
 3027: 0.0,
 270: 0.0,
 271: 0.0,
 272: 0.0,
 273: 0.0,
 274: 0.0,
 275: 0.0,
 276: 0.0,
 277: 0.0,
 278: 0.0,
 326: 0.0,
 4845: 0.0,
 279: 0.0,
 280: 0.0,
 281: 0.0,
 282: 0.0,
 283: 0.0,
 284: 0.0,
 285: 0.0,
 286: 0.0,
 287: 0.0,
 288: 0.0,
 289: 0.0,
 290: 0.0,
 291: 0.0,
 292: 0.0,
 293: 0.0,
 294: 0.0,
 295: 0.0,
 327: 0.0,
 328: 0.0,
 296: 0.0,
 297: 0.0,
 298: 0.0,
 299: 0.0,
 300: 0.0,
 301: 0.0,
 302: 0.0,
 303: 0.0,
 304: 0.0,
 305: 0.0,
 329: 0.0,
 330: 0.0,
 331: 0.0,
 557: 0.0,
 306: 0.0,
 307: 0.0,
 308: 0.0,
 309: 0.0,
 310: 0.0,
 311: 0.0,
 312: 0.0,
 313: 0.0,
 314: 0.0,
 315: 0.0,
 316: 0.0,
 386: 0.0,
 387: 0.0,
 388: 0.0,
 317: 0.0,
 318: 0.0,
 319: 0.0,
 320: 0.0,
 321: 0.0,
 322: 0.0,
 323: 0.0,
 324: 0.0,
 325: 0.0,
 332: 0.0,
 333: 0.0,
 334: 0.0,
 335: 0.0,
 336: 0.0,
 337: 0.0,
 338: 0.0,
 558: 0.0,
 3028: 0.0,
 339: 0.0,
 340: 0.0,
 341: 0.0,
 342: 0.0,
 343: 0.0,
 344: 0.0,
 345: 0.0,
 346: 0.0,
 347: 0.0,
 348: 0.0,
 349: 0.0,
 657: 0.0,
 764: 0.0,
 350: 0.0,
 351: 0.0,
 352: 0.0,
 353: 0.0,
 354: 0.0,
 355: 0.0,
 356: 0.0,
 357: 0.0,
 358: 0.0,
 765: 0.0,
 359: 0.0,
 360: 0.0,
 361: 0.0,
 362: 0.0,
 363: 0.0,
 364: 0.0,
 365: 0.0,
 366: 0.0,
 367: 0.0,
 766: 0.0,
 767: 0.0,
 368: 0.0,
 369: 0.0,
 370: 0.0,
 371: 0.0,
 372: 0.0,
 373: 0.0,
 374: 0.0,
 375: 0.0,
 376: 0.0,
 377: 0.0,
 378: 0.0,
 379: 0.0,
 768: 0.0,
 3029: 0.0,
 380: 0.0,
 381: 0.0,
 382: 0.0,
 383: 0.0,
 384: 0.0,
 385: 0.0,
 389: 0.0,
 390: 0.0,
 391: 0.0,
 392: 0.0,
 393: 0.0,
 394: 0.0,
 769: 0.0,
 770: 0.0,
 395: 0.0,
 396: 0.0,
 397: 0.0,
 398: 0.0,
 399: 0.0,
 400: 0.0,
 771: 0.0,
 401: 0.0,
 402: 0.0,
 403: 0.0,
 404: 0.0,
 409: 0.0,
 405: 0.0,
 406: 0.0,
 407: 0.0,
 408: 0.0,
 697: 0.0,
 410: 0.0,
 411: 0.0,
 412: 0.0,
 413: 0.0,
 414: 0.0,
 415: 0.0,
 436: 0.0,
 416: 0.0,
 417: 0.0,
 418: 0.0,
 419: 0.0,
 420: 0.0,
 437: 0.0,
 438: 0.0,
 730: 0.0,
 772: 0.0,
 3030: 0.0,
 421: 0.0,
 422: 0.0,
 423: 0.0,
 424: 0.0,
 425: 0.0,
 426: 0.0,
 427: 0.0,
 428: 0.0,
 429: 0.0,
 430: 0.0,
 431: 0.0,
 432: 0.0,
 433: 0.0,
 434: 0.0,
 435: 0.0,
 485: 0.0,
 486: 0.0,
 5145: 0.0,
 439: 0.0,
 440: 0.0,
 441: 0.0,
 442: 0.0,
 443: 0.0,
 444: 0.0,
 6694: 0.0,
 445: 0.0,
 446: 0.0,
 447: 0.0,
 448: 0.0,
 449: 0.0,
 487: 0.0,
 488: 0.0,
 489: 0.0,
 4846: 0.0,
 450: 0.0,
 451: 0.0,
 452: 0.0,
 453: 0.0,
 490: 0.0,
 773: 0.0,
 774: 0.0,
 454: 0.0,
 455: 0.0,
 456: 0.0,
 457: 0.0,
 775: 0.0,
 906: 0.0,
 458: 0.0,
 459: 0.0,
 460: 0.0,
 461: 0.0,
 462: 0.0,
 907: 0.0,
 5513: 0.0,
 463: 0.0,
 464: 0.0,
 465: 0.0,
 466: 0.0,
 467: 0.0,
 908: 0.0,
 468: 0.0,
 469: 0.0,
 470: 0.0,
 471: 0.0,
 472: 0.0,
 473: 0.0,
 909: 0.0,
 474: 0.0,
 475: 0.0,
 476: 0.0,
 477: 0.0,
 478: 0.0,
 501: 0.0,
 5514: 0.0,
 479: 0.0,
 480: 0.0,
 481: 0.0,
 482: 0.0,
 483: 0.0,
 484: 0.0,
 491: 0.0,
 492: 0.0,
 493: 0.0,
 494: 0.0,
 495: 0.0,
 496: 0.0,
 497: 0.0,
 498: 0.0,
 499: 0.0,
 500: 0.0,
 1338: 0.0,
 502: 0.0,
 503: 0.0,
 504: 0.0,
 505: 0.0,
 506: 0.0,
 507: 0.0,
 508: 0.0,
 509: 0.0,
 510: 0.0,
 511: 0.0,
 512: 0.0,
 1912: 0.0,
 513: 0.0,
 514: 0.0,
 515: 0.0,
 516: 0.0,
 517: 0.0,
 518: 0.0,
 519: 0.0,
 520: 0.0,
 521: 0.0,
 522: 0.0,
 523: 0.0,
 527: 0.0,
 528: 0.0,
 529: 0.0,
 530: 0.0,
 531: 0.0,
 2441: 0.0,
 532: 0.0,
 533: 0.0,
 534: 0.0,
 535: 0.0,
 536: 0.0,
 923: 0.0,
 924: 0.0,
 7605: 0.0,
 537: 0.0,
 538: 0.0,
 539: 0.0,
 540: 0.0,
 541: 0.0,
 542: 0.0,
 543: 0.0,
 544: 0.0,
 545: 0.0,
 546: 0.0,
 938: 0.0,
 1913: 0.0,
 547: 0.0,
 548: 0.0,
 549: 0.0,
 550: 0.0,
 551: 0.0,
 552: 0.0,
 553: 0.0,
 554: 0.0,
 555: 0.0,
 556: 0.0,
 7606: 0.0,
 559: 0.0,
 560: 0.0,
 561: 0.0,
 562: 0.0,
 563: 0.0,
 564: 0.0,
 565: 0.0,
 1194: 0.0,
 566: 0.0,
 567: 0.0,
 568: 0.0,
 569: 0.0,
 570: 0.0,
 571: 0.0,
 572: 0.0,
 573: 0.0,
 574: 0.0,
 575: 6.268530494248657e-12,
 576: 0.0,
 577: 0.0,
 578: 0.0,
 579: 0.0,
 580: 0.0,
 581: 0.0,
 1195: 0.0,
 582: 0.0,
 583: 0.0,
 584: 0.0,
 585: 0.0,
 586: 0.0,
 587: 0.0,
 1914: 0.0,
 588: 0.0,
 589: 0.0,
 590: 0.0,
 591: 0.0,
 592: 0.0,
 605: 0.0,
 593: 0.0,
 594: 0.0,
 595: 0.0,
 596: 0.0,
 637: 0.0,
 9881: 0.0,
 597: 0.0,
 598: 0.0,
 599: 0.0,
 600: 0.0,
 601: 0.0,
 602: 0.0,
 603: 0.0,
 604: 0.0,
 638: 0.0,
 639: 0.0,
 606: 0.0,
 607: 0.0,
 608: 0.0,
 609: 0.0,
 610: 0.0,
 640: 0.0,
 23962: 0.0,
 611: 0.0,
 612: 0.0,
 613: 0.0,
 614: 0.0,
 615: 0.0,
 641: 0.0,
 23963: 0.0,
 616: 0.0,
 617: 0.0,
 618: 0.0,
 619: 0.0,
 620: 0.0,
 642: 0.0,
 621: 0.0,
 622: 0.0,
 623: 0.0,
 624: 0.0,
 625: 0.0,
 626: 0.0,
 627: 0.0,
 628: 0.0,
 643: 0.0,
 629: 0.0,
 630: 0.0,
 631: 0.0,
 632: 0.0,
 633: 0.0,
 634: 0.0,
 635: 0.0,
 636: 0.0,
 644: 0.0,
 645: 0.0,
 646: 0.0,
 647: 0.0,
 648: 0.0,
 649: 0.0,
 650: 0.0,
 651: 0.0,
 652: 0.0,
 653: 0.0,
 654: 0.0,
 658: 0.0,
 659: 0.0,
 660: 0.0,
 661: 0.0,
 662: 0.0,
 663: 0.0,
 664: 0.0,
 665: 0.0,
 666: 0.0,
 667: 0.0,
 2626: 0.0,
 668: 0.0,
 669: 0.0,
 670: 0.0,
 671: 0.0,
 672: 0.0,
 2627: 0.0,
 673: 0.0,
 674: 0.0,
 675: 0.0,
 676: 0.0,
 677: 0.0,
 678: 0.0,
 679: 0.0,
 680: 0.0,
 681: 0.0,
 682: 0.0,
 683: 0.0,
 684: 0.0,
 685: 0.0,
 690: 0.0,
 2628: 0.0,
 2629: 0.0,
 686: 0.0,
 687: 0.0,
 688: 0.0,
 689: 0.0,
 1196: 0.0,
 691: 0.0,
 692: 0.0,
 693: 0.0,
 694: 0.0,
 695: 0.0,
 696: 0.0,
 1206: 0.0,
 698: 0.0,
 699: 0.0,
 700: 0.0,
 701: 0.0,
 702: 0.0,
 703: 0.0,
 704: 0.0,
 705: 0.0,
 957: 0.0,
 706: 0.0,
 707: 0.0,
 708: 0.0,
 709: 0.0,
 710: 0.0,
 1187: 0.0,
 711: 0.0,
 712: 0.0,
 713: 0.0,
 714: 0.0,
 715: 0.0,
 716: 0.0,
 717: 0.0,
 958: 0.0,
 718: 0.0,
 719: 0.0,
 720: 0.0,
 721: 0.0,
 1207: 0.0,
 1208: 0.0,
 1209: 0.0,
 722: 0.0,
 723: 0.0,
 724: 0.0,
 725: 0.0,
 726: 0.0,
 727: 0.0,
 728: 0.0,
 729: 0.0,
 731: 0.0,
 732: 0.0,
 733: 0.0,
 734: 0.0,
 784: 0.0,
 735: 0.0,
 736: 0.0,
 737: 0.0,
 738: 0.0,
 762: 0.0,
 739: 0.0,
 740: 0.0,
 741: 0.0,
 742: 0.0,
 743: 0.0,
 744: 0.0,
 745: 0.0,
 746: 0.0,
 747: 0.0,
 748: 0.0,
 749: 0.0,
 750: 0.0,
 751: 0.0,
 752: 0.0,
 753: 0.0,
 754: 0.0,
 755: 0.0,
 756: 0.0,
 757: 0.0,
 758: 0.0,
 759: 0.0,
 760: 0.0,
 761: 0.0,
 763: 0.0,
 776: 0.0,
 777: 0.0,
 778: 0.0,
 779: 0.0,
 780: 0.0,
 781: 0.0,
 782: 0.0,
 783: 0.0,
 785: 0.0,
 786: 0.0,
 787: 0.0,
 788: 0.0,
 789: 0.0,
 1210: 0.0,
 12679: 0.0,
 790: 0.0,
 791: 0.0,
 792: 0.0,
 793: 0.0,
 794: 0.0,
 3682: 0.0,
 795: 0.0,
 796: 0.0,
 797: 0.0,
 798: 0.0,
 799: 0.0,
 2630: 0.0,
 800: 0.0,
 801: 0.0,
 802: 0.0,
 803: 0.0,
 804: 0.0,
 805: 0.0,
 810: 0.0,
 3031: 0.0,
 806: 0.0,
 807: 0.0,
 808: 0.0,
 809: 0.0,
 1188: 0.0,
 811: 0.0,
 812: 0.0,
 813: 0.0,
 814: 0.0,
 815: 0.0,
 1211: 0.0,
 26138: 0.0,
 816: 0.0,
 817: 0.0,
 818: 0.0,
 819: 0.0,
 820: 0.0,
 821: 0.0,
 1212: 0.0,
 822: 0.0,
 823: 0.0,
 824: 0.0,
 825: 0.0,
 826: 0.0,
 827: 0.0,
 1213: 0.0,
 828: 0.0,
 829: 0.0,
 830: 0.0,
 831: 0.0,
 832: 0.0,
 3032: 0.0,
 833: 0.0,
 834: 0.0,
 835: 0.0,
 836: 0.0,
 837: 0.0,
 852: 0.0,
 838: 0.0,
 839: 0.0,
 840: 0.0,
 841: 0.0,
 842: 0.0,
 882: 0.0,
 843: 0.0,
 844: 0.0,
 845: 0.0,
 846: 0.0,
 883: 0.0,
 3033: 0.0,
 847: 0.0,
 848: 0.0,
 849: 0.0,
 850: 0.0,
 851: 0.0,
 853: 0.0,
 854: 0.0,
 855: 0.0,
 856: 0.0,
 857: 0.0,
 1214: 0.0,
 1215: 0.0,
 858: 0.0,
 859: 0.0,
 860: 0.0,
 861: 0.0,
 862: 0.0,
 1217: 0.0,
 863: 0.0,
 864: 0.0,
 865: 0.0,
 866: 0.0,
 867: 0.0,
 1218: 0.0,
 868: 0.0,
 869: 0.0,
 870: 0.0,
 871: 0.0,
 872: 0.0,
 1219: 0.0,
 1220: 0.0,
 873: 0.0,
 874: 0.0,
 875: 0.0,
 876: 0.0,
 884: 0.0,
 26791: 0.0,
 877: 0.0,
 878: 0.0,
 879: 0.0,
 880: 0.0,
 881: 0.0,
 904: 0.0,
 905: 0.0,
 885: 0.0,
 886: 0.0,
 887: 0.0,
 888: 0.0,
 889: 0.0,
 890: 0.0,
 891: 0.0,
 892: 0.0,
 893: 0.0,
 894: 0.0,
 895: 0.0,
 3034: 0.0,
 896: 0.0,
 897: 0.0,
 898: 0.0,
 899: 0.0,
 900: 0.0,
 901: 0.0,
 902: 0.0,
 903: 0.0,
 3035: 0.0,
 910: 0.0,
 911: 0.0,
 912: 0.0,
 913: 0.0,
 914: 0.0,
 915: 0.0,
 916: 0.0,
 917: 0.0,
 918: 0.0,
 919: 0.0,
 920: 0.0,
 921: 0.0,
 922: 0.0,
 1221: 0.0,
 925: 0.0,
 926: 0.0,
 927: 0.0,
 928: 0.0,
 929: 0.0,
 930: 0.0,
 931: 0.0,
 932: 0.0,
 933: 0.0,
 934: 0.0,
 935: 0.0,
 936: 0.0,
 ...}

In [125]:
## query words summation
def probab_score_sum(tokens,tokenized_docs,texts):
    '''assigns score to document based on summation of probabilities'''
    doc_probab = {}
    for k, v in tokenized_docs.items():
        n = len(v)
        probability = 0
        text = texts.get(k)
        for token in tokens:
            token_frequency = text.count(token)
            probability = probability+(token_frequency/n)
        doc_probab.update({k: probability})
    return doc_probab

In [126]:
#zavedaj se:
"gabla is bla2".count("bla")
# kar pomeni da bi bilo bolje uporabiti lemmatized words! popravi!! neke stvari zdaj 2x stejes

2

In [127]:
def top_positives(dictionary,n):
    """Takes dict and returns first n tuples of k,v sorted by v"""
    positives = {} 
    for k,v in dictionary.items():
        if v > 0:
            positives.update({k: v})
    sorted_positives = sorted(positives.items(), key=lambda x: x[1],reverse=True)
    sorted_positives_top = sorted_positives[0:n]
    return sorted_positives_top

In [128]:
# only original query
score_sum =probab_score_sum(test,tokenized_docs,texts)

#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)

[(32476, 0.11656671664167916), (33546, 0.11182108626198083), (37122, 0.10662729658792651), (34869, 0.10542476970317298), (30565, 0.103206106870229), (36068, 0.10318609703113686), (3867, 0.10294117647058823), (95196, 0.0990990990990991), (94467, 0.0984251968503937), (38921, 0.0975609756097561)]

In [129]:
# create dataframe
df_sum_original = pd.DataFrame(sorted_positives_top, columns =['id_sum_original', 'score'])
df_sum_original

   id_sum_original     score
0            32476  0.116567
1            33546  0.111821
2            37122  0.106627
3            34869  0.105425
4            30565  0.103206
5            36068  0.103186
6             3867  0.102941
7            95196  0.099099
8            94467  0.098425
9            38921  0.097561

In [130]:
# print(titles.get(565))
# print(texts.get(565))

In [131]:
## original query plus ext
score_sum =probab_score_sum(test+ext,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)

[(32476, 0.11656671664167916), (33546, 0.11182108626198083), (37122, 0.10662729658792651), (34869, 0.10542476970317298), (30565, 0.103206106870229), (36068, 0.10318609703113686), (3867, 0.10294117647058823), (95196, 0.0990990990990991), (94467, 0.0984251968503937), (38921, 0.0975609756097561)]

In [132]:
# create dataframe
df_sum_original_ext = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_ext', 'score'])

In [133]:
# only original query
score =probab_score(test1,tokenized_docs,texts)
#how many docs have positive score?
sorted_positives_top = top_positives(score,10)
print(sorted_positives_top)



## original query
score_sum =probab_score_sum(test1,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)
#dataframe
df_sum_original1 = pd.DataFrame(sorted_positives_top, columns =['id_sum_original1', 'score'])
df_sum_original1

[(72, 4.866706628529354e-11), (4098, 3.9980157168428714e-11), (31030, 1.0620609744608273e-11), (85, 6.56566844179315e-12), (47616, 4.413577090077561e-12), (59689, 3.662677012225006e-12), (2146, 2.529433698703274e-12), (25303, 2.2094496103487563e-12), (57414, 2.1926876323265894e-12), (31131, 1.3631354904463345e-12)]
[(94870, 0.1276595744680851), (11790, 0.09090909090909091), (100258, 0.08527131782945736), (97436, 0.08280254777070063), (28599, 0.08163833937029813), (92702, 0.07514450867052024), (97265, 0.07430340557275542), (50112, 0.07235621521335807), (62459, 0.07103825136612021), (49539, 0.07056113902847572)]

   id_sum_original1     score
0             94870  0.127660
1             11790  0.090909
2            100258  0.085271
3             97436  0.082803
4             28599  0.081638
5             92702  0.075145
6             97265  0.074303
7             50112  0.072356
8             62459  0.071038
9             49539  0.070561

In [134]:
## original query plus ext
score_sum =probab_score_sum(test1+ext1,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
positives = dict([(k,v) for k,v in score_sum.items() if v > 0])
sorted_positives = sorted(positives.items(), key=lambda x: x[1],reverse=True)
sorted_positives_top = sorted_positives[0:10]
#dataframe
df_sum_original_ext1 = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_ext1', 'score'])
df_sum_original_ext1

   id_sum_original_ext1     score
0                 94870  0.127660
1                 92702  0.121387
2                 93604  0.116959
3                 97781  0.114583
4                 93549  0.104348
5                 14571  0.102041
6                 97436  0.101911
7                100258  0.100775
8                 44382  0.100151
9                 98394  0.099099

In [135]:
# adding candidates
## without weights
# no point using multiplication

# summation:
## original query
score_sum =probab_score_sum(test+topw_list,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)
#dataframe
df_sum_original_cand = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_cand', 'score'])


## original query plus ext
score_sum =probab_score_sum(test+ext+top_list,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)
#dataframe
df_sum_original_ext_cand = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_ext_cand', 'score'])


## original query
score_sum =probab_score_sum(test1+topw_list1,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)
#dataframe
df_sum_original_cand1 = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_cand1', 'score'])


## original query plus ext
score_sum =probab_score_sum(test1+ext1+top_list1,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)
#dataframe
df_sum_original_ext_cand1 = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_ext_cand1', 'score'])

[(12744, 0.15163934426229508), (92986, 0.1473429951690821), (92988, 0.14669421487603304), (9649, 0.13286713286713286), (93921, 0.11695906432748537), (32476, 0.11656671664167916), (62937, 0.11578947368421053), (94936, 0.11494252873563218), (97319, 0.11363636363636363), (95196, 0.11261261261261261)]
[(94936, 0.12643678160919541), (3453, 0.11875000000000001), (32476, 0.11656671664167916), (97319, 0.11363636363636363), (33546, 0.11182108626198083), (95196, 0.10810810810810811), (37122, 0.10662729658792651), (34869, 0.10542476970317298), (30565, 0.103206106870229), (36068, 0.10318609703113686)]
[(94870, 0.1276595744680851), (11790, 0.09090909090909091), (100258, 0.08527131782945736), (97436, 0.08280254777070063), (28599, 0.08163833937029813), (92702, 0.07514450867052024), (97265, 0.07430340557275542), (50112, 0.07235621521335807), (62459, 0.07103825136612021), (49539, 0.07056113902847572)]
[(94870, 0.1276595744680851), (92702, 0.12138728323699421), (93604, 0.11695906432748537), (97781, 0.11458333333333334), (93549, 0.10434782608695653), (14571, 0.10204081632653061), (97436, 0.1019108280254777), (100258, 0.10077519379844961), (44382, 0.10015060240963855), (98394, 0.0990990990990991)]

In [136]:
def word_value(word, alpha, original_tokens, top_expansion, wv):
    """values word based on whether is in original token set or expanded, if alpha -1 value equals to cosine similarity"""
    only_expanded = []
    for token in top_expansion:
        if token not in original_tokens:
            only_expanded.append(token)
            
    sum_similarity = 0
    for exp_token in only_expanded:
            sum_similarity += similarity(exp_token,original_tokens, wv)
            
    if alpha == -1:
        if word in original_tokens:
            value = 1
        else:
            value = similarity(word, original_tokens, wv)/sum_similarity


    else:
        if word in original_tokens:
            value = alpha
        else:
            value = (1-alpha)*similarity(word, original_tokens, wv)/sum_similarity
    return value

In [137]:
# ce ni ext zraven je so cudni rezultati, zamenja vrstni red pomembnsti med sewage in undergrounding??
top = top[0:4]
top_words = [i[0] for i in top]
print(word_value("water", 0.7, test+ext ,top_words, wv_wiki_en))
print(word_value("sewage", 0.7, test+ext ,top_words, wv_wiki_en))
print(word_value("undergrounding", 0.7, test+ext ,top_words, wv_wiki_en))
print(word_value("biopollution", 0.7, test+ext ,top_words, wv_wiki_en))

0.7
0.28172557133554
0.7
0.27141179615367744

In [138]:
def probab_score_sum_weights(original_tokens, top_expansion,tokenized_docs,texts, wv, alpha): 
    '''As probab_score_sum only weighted; usually extention added to original tokens, candidates = top_expansion - have weights'''
    doc_probab = {}
    for k, v in tokenized_docs.items():
        n = len(v)
        probability = 0
        text = texts.get(k)
        for token in original_tokens+top_expansion:
            token_frequency = text.count(token)
            probability = probability+(token_frequency/n)*word_value(token, alpha, original_tokens, top_expansion, wv)
        doc_probab.update({k: probability})
    return doc_probab

In [139]:
#check word values
wvals = []
for token in test+ext+top_list:
    wvals.append(word_value(token, 0.35, test+ext, top_list, wv_wiki_en))
wvals

[0.35,
 0.35,
 0.35,
 0.35,
 0.35,
 0.35,
 0.35,
 0.35,
 0.33091025022915893,
 0.31908974977084104]

In [34]:
top_list

['pollution', 'pollutions', 'undergrounding', 'earpollution', 'pollution,']

In [48]:
#check word frequences
n = len(tokenized_docs1)
print(n)
t_freqs = []
for k, v in tokenized_docs1.items():
    n = len(v)
    text = texts1.get(k)
    for token in test+ext+top_list:
        token_frequency = text.count(token)
        t_freqs.append(token_frequency)

998

In [141]:
## with weights
# summation 
original_query_cand = []
for alpha in [-1,0.35,0.4,0.45,0.5,0.6,0.7,0.8,0.9,1]:
    ## original query
    score_sum = probab_score_sum_weights(test, topw_list,tokenized_docs, texts, wv_wiki_en, alpha)
    #original + ext gives same score, add global and state gives different score, same order
    #how many docs have positive score?
    sorted_positives_top = top_positives(score_sum,10)
    #dataframe
    df_wsum_original_cand = pd.DataFrame(sorted_positives_top, columns =['id_wsum_original_cand'+str(alpha), 'score'+str(alpha)])
    original_query_cand.append(df_wsum_original_cand)

In [142]:
## original query plus ext
original_query_ext_cand = []
for alpha in [-1,0.35,0.4,0.45,0.5,0.6,0.7,0.8,0.9,1]:
    score_sum =probab_score_sum_weights(test+ext, top_list,tokenized_docs,texts,  wv_wiki_en, alpha)
    #original + ext gives same score, add global and state gives different score, same order
    #how many docs have positive score?
    sorted_positives_top = top_positives(score_sum,10)
    #dataframe
    df_wsum_original_ext_cand = pd.DataFrame(sorted_positives_top, columns =['id_wsum_original_ext_cand'+str(alpha), 'score'+str(alpha)])
    original_query_ext_cand.append(df_wsum_original_ext_cand)

In [143]:
# comparing sorting for each alpha
doubleframes =[]
for i in range(len(original_query_cand)):
    frst = original_query_cand[i].take([0], axis=1)
    snd = original_query_ext_cand[i].take([0], axis=1)
    con = pd.concat([frst,snd], axis=1)
    doubleframes.append(con)

In [144]:
doubleframes[2]

   id_wsum_original_cand0.4  id_wsum_original_ext_cand0.4
0                     32476                         94936
1                     12744                         32476
2                     92988                          3453
3                     94936                         97319
4                     97319                         33546
5                     92986                         95196
6                     33546                         37122
7                     95196                         34869
8                      9649                         30565
9                     37122                         36068

In [145]:
# comparing sorting for different alphas, original + cand
frames =[]
for i in range(len(original_query_cand)):
    dataf = original_query_cand[i].take([0], axis=1)
    frames.append(dataf)
con = pd.concat(frames, axis=1)
con

,id_wsum_original_cand-1,id_wsum_original_cand0.35,id_wsum_original_cand0.4,id_wsum_original_cand0.45,id_wsum_original_cand0.5,id_wsum_original_cand0.6,id_wsum_original_cand0.7,id_wsum_original_cand0.8,id_wsum_original_cand0.9,id_wsum_original_cand1
0,32476,12744,32476,32476,32476,32476,32476,32476,32476,32476
1,94936,92988,12744,94936,94936,94936,94936,94936,94936,94936
2,97319,92986,92988,97319,97319,97319,97319,97319,97319,97319
3,33546,32476,94936,92988,33546,33546,33546,33546,33546,33546
4,92988,94936,97319,12744,92988,95196,95196,95196,95196,95196
5,95196,97319,92986,33546,95196,37122,37122,37122,37122,37122
6,12744,33546,33546,95196,12744,3453,3453,3453,3453,3453
7,37122,9649,95196,92986,37122,92988,34869,34869,34869,34869
8,3453,95196,9649,37122,3453,34869,30565,30565,30565,30565
9,92986,93921,37122,3453,92986,12744,36068,36068,36068,36068

- alpha 1 - 0.5 first 4 docs the same, 0.45 first 3 the same, 0.4 1st the same
- alpha -1 same as alpha 0.5
- alpha 0.35 even 1st doc different than others

In [146]:
#counting number of occurances of  documents
values = con.values.tolist()
flat_vals = []
for sublist in values:
    for item in sublist:
        flat_vals.append(item)
counter=collections.Counter(flat_vals)
print((counter))
print(len(counter))

Counter({32476: 10, 94936: 10, 97319: 10, 33546: 10, 95196: 10, 37122: 9, 3453: 8, 12744: 6, 92988: 6, 92986: 5, 34869: 5, 30565: 4, 36068: 4, 9649: 2, 93921: 1})
15

- 5 docs in every column 
- 11 of 15 different docs appear at least in half of the columns

In [147]:
# comparing sorting for different alphas, original +ext + cand
frames =[]
for i in range(len(original_query_ext_cand)):
    dataf = original_query_ext_cand[i].take([0], axis=1)
    frames.append(dataf)
conex = pd.concat(frames, axis=1)
conex

,id_wsum_original_ext_cand-1,id_wsum_original_ext_cand0.35,id_wsum_original_ext_cand0.4,id_wsum_original_ext_cand0.45,id_wsum_original_ext_cand0.5,id_wsum_original_ext_cand0.6,id_wsum_original_ext_cand0.7,id_wsum_original_ext_cand0.8,id_wsum_original_ext_cand0.9,id_wsum_original_ext_cand1
0,94936,94936,94936,94936,94936,94936,94936,32476,32476,32476
1,32476,3453,32476,32476,32476,32476,32476,94936,94936,94936
2,97319,32476,3453,3453,97319,97319,97319,97319,97319,97319
3,3453,97319,97319,97319,3453,33546,33546,33546,33546,33546
4,33546,33546,33546,33546,33546,3453,3453,95196,95196,95196
5,95196,95196,95196,95196,95196,95196,95196,3453,3453,37122
6,37122,37122,37122,37122,37122,37122,37122,37122,37122,3453
7,34869,34869,34869,34869,34869,34869,34869,34869,34869,34869
8,30565,30565,30565,30565,30565,30565,30565,30565,30565,30565
9,36068,36068,36068,36068,36068,36068,36068,36068,36068,36068

- 0.8 - 1 1st doc 32476, rest 1st doc 94936
- 0.8 - 1 first 5 docs the same

In [148]:
#counting number of occurances of  documents
values = conex.values.tolist()
flat_vals = []
for sublist in values:
    for item in sublist:
        flat_vals.append(item)
counter=collections.Counter(flat_vals)
print((counter))
print(len(counter))

Counter({94936: 10, 32476: 10, 3453: 10, 97319: 10, 33546: 10, 95196: 10, 37122: 10, 34869: 10, 30565: 10, 36068: 10})
10

- all columns contain same documents, just order is different

In [149]:
print(test)
print(ext)
print(top_list)
# 94936 light pollution -, 32476 fishing quotas o, 97319 light pollution - , 3453 marine pollution o
# without weighted sum (below): 
# 32476 already appeared, 33546 fishing quotas o,37122 fishing quotas o,12744 groundwater protection +,92988 groundwater protection +
# 33546 fishing quotas o, 92986 groundwater protection +
# id_sum_original_cand best choice

['water', 'pollution', 'underground']
['pollutions', 'undergrounding']
['pollution', 'pollutions', 'undergrounding', 'earpollution', 'pollution,']

In [150]:
texts.get(92986)

'Avis juridique important|91997E1892WRITTEN QUESTION No. 1892/97 by Amedeo AMADEO to the Commission. Integrated groundwater protection and managementOfficial Journal C 045 , 10/02/1998 P. 0120 WRITTEN QUESTION E-1892/97 by Amedeo Amadeo (NI) to the Commission (4 June 1997)Subject: Integrated groundwater protection and managementWith reference to the Commission Proposal for a European Parliament and Council Decision on an action programme for integrated groundwater protection and management (COM(96) 0315 final - 96/0181 COD) ((OJ C 355, 25.11.1996, p. 1.)),the proposed action programme comprises four main lines of action: planning and management of groundwater protection, creating a regulatory framework for fresh water abstraction, development of instruments for control of groundwater polution from diffuse sources and development of instruments for control of point source emissions and discharges.With regard to the first line of action, will the Commission:1. Classify waters according to their use, their different characteristics and the original water table?2. Take measures to reduce the waterproofing of the ground in suburban areas and take preventive measures against earth creep in areas intended for agricultural use?3. Restrict pumping capacities as far as possible to replenishing the water table and encourage the rational use and the re-use of water?4. Cooperate with the third countries preparing to accede to the European Union with the aim of helping them adapt to European quality standards?Answer given by Mrs Bjerregaard on behalf of the Commission (10 July 1997)The objective of the proposal for a Parliament and Council decision on an action programme for integrated groundwater protection and management is to ensure that protection and use of groundwater takes place as part of an integrated management of fresh water resources and that groundwaters on a long term basis will be managed with surface waters within a river basin management approach.In February 1997, the Commission adopted a proposal for a Council directive establishing a framework for Community action in the field of water policy ((COM(97) 49 final. )) which lays down the basic principles for integrated protection and use of groundwaters and surface waters within such a river basin management approach. Whilst part of the actions presented in the proposed groundwater action programme may be pursued through a variety of instruments, some may be strengthened through appropriate legal provisions. The proposed water framework directive is intended as a framework within which inter alia the protection and sustainable use of groundwater may be ensured through such legal provisions.1. It is the objective of the proposed groundwater action programme to ensure protection of all groundwaters and in line with this the proposed groundwater action programme does not classify groundwaters according to their use. On the contrary, in order to ensure appropriate protection and sustainable use the characteristics of a particular groundwater have to be taken into account and therefore the proposed groundwater action programme requires Member States to identify the environmental pressures as well as the particular vulnerability of groundwaters. Such designation of zones therefore is to be used to decide upon the nature of the measures which should be taken to protect a particular groundwater in a particular area.2. The proposed groundwater action programme requests Member States to take into consideration in the planning process that urban development may impair natural replenishment of groundwaters. In order to be targeted, measures to reduce the waterproofing of the ground in suburban areas and to prevent land subsidence due to a lowering of the water table should be adopted as appropriate in response to local circumstances.3. The proposed groundwater action programme requires a sustainable use of groundwaters in order to avoid overexploitation. Controls on abstraction as well as water saving, reuse and general good house-keeping of fresh water resources are encouraged as important elements in achieving this objective. Where appropriate either transiently or permanently restrictions on abstraction could be introduced depending on the local availability and characteristics of the aquifers.4. Approximation of legislation and standards is an integral part of the process within which the Community is preparing the potential enlargement. A wide range of activities and programmes target these questions in the approximation process. Top'

In [151]:
#check word values
wvals = []
for token in test1+ext1+top_list1:
    wvals.append(word_value(token, 0.35, test+ext, top_list, wv_wiki_en))
wvals

[0.10124015377562287,
 0.15817081118234286,
 0.07172285285022235,
 0.11798534515333482,
 0.18960660975970187,
 0.1010925155782609,
 0.33091025022915893,
 0.35,
 0.3127512400283096,
 0.29937648460119626,
 0.26977364610954957]

In [152]:
#test1:
## original query
original_query_cand1 = []
for alpha in [-1,0.35,0.4,0.45,0.5,0.6,0.7,0.8,0.9,1]:
    score_sum = probab_score_sum_weights(test1, topw_list1,tokenized_docs,texts,  wv_wiki_en, alpha)
    #original + ext gives same score, add global and state gives different score, same order
    #how many docs have positive score?
    sorted_positives_top = top_positives(score_sum,10)
    #dataframe
    df_wsum_original_cand1 = pd.DataFrame(sorted_positives_top, columns =['id_wsum_original_cand1'+str(alpha), 'score'+str(alpha)])
    original_query_cand1.append(df_wsum_original_cand1)


## original query plus ext
original_query_ext_cand1 = []
for alpha in [-1,0.35,0.4,0.45,0.5,0.6,0.7,0.8,0.9,1]:
    score_sum =probab_score_sum_weights(test1+ext1, top_list1,tokenized_docs,texts,  wv_wiki_en, alpha)
    #original + ext gives same score, add global and state gives different score, same order
    #how many docs have positive score?
    sorted_positives_top = top_positives(score_sum,10)
    #dataframe
    df_wsum_original_ext_cand1 = pd.DataFrame(sorted_positives_top, columns =['id_wsum_original_ext_cand1'+str(alpha), 'score'+str(alpha)])
    original_query_ext_cand1.append(df_wsum_original_ext_cand1)

In [153]:
# comparing sorting for each alpha
doubleframes1 =[]
for i in range(len(original_query_cand1)):
    frst = original_query_cand1[i].take([0], axis=1)
    snd = original_query_ext_cand1[i].take([0], axis=1)
    con = pd.concat([frst,snd], axis=1)
    doubleframes1.append(con)

In [154]:
doubleframes1[0]

   id_wsum_original_cand1-1  id_wsum_original_ext_cand1-1
0                     94870                         94870
1                     11790                         92702
2                    100258                         93604
3                     97436                         97781
4                     28599                         93549
5                     92702                         14571
6                     97265                         97436
7                     50112                        100258
8                     62459                         44382
9                     49539                         98394

In [155]:
# comparing sorting for different alphas, original + cand
frames =[]
for i in range(len(original_query_cand1)):
    dataf = original_query_cand1[i].take([0], axis=1)
    frames.append(dataf)
con1 = pd.concat(frames, axis=1)
con1

,id_wsum_original_cand1-1,id_wsum_original_cand10.35,id_wsum_original_cand10.4,id_wsum_original_cand10.45,id_wsum_original_cand10.5,id_wsum_original_cand10.6,id_wsum_original_cand10.7,id_wsum_original_cand10.8,id_wsum_original_cand10.9,id_wsum_original_cand11
0,94870,94870,94870,94870,94870,94870,94870,94870,94870,94870
1,11790,11790,11790,11790,11790,11790,11790,11790,11790,11790
2,100258,100258,100258,100258,100258,100258,100258,100258,100258,100258
3,97436,97436,97436,97436,97436,97436,97436,97436,97436,97436
4,28599,28599,28599,28599,28599,28599,28599,28599,28599,28599
5,92702,92702,92702,92702,92702,92702,92702,92702,92702,92702
6,97265,97265,97265,97265,97265,97265,97265,97265,97265,97265
7,50112,50112,50112,50112,50112,50112,50112,50112,50112,50112
8,62459,62459,62459,62459,62459,62459,62459,62459,62459,62459
9,49539,49539,49539,49539,49539,49539,49539,49539,49539,49539

- all columns the same

In [156]:
print(test1)
print(ext1)
print(top_list1)
#94870 fishing agreement EU +, 11790 fishing agreement EU +, 100258 fishing agreement +
#94870 11790, 100258 already, 92702 fishing agreement +, 93604 environmental agreement o ;better without extention

['annex', 'fishing', 'agreement', 'europe']
['flwfishing', 'agreements']
['earpollution', 'pollution', 'pollutants', 'biopollution', 'potable']

In [157]:
texts.get(93604)

'Avis juridique important|91997E3072WRITTEN QUESTION No. 3072/97 by Amedeo AMADEO to the Commission. Environmental agreementsOfficial Journal C 117 , 16/04/1998 P. 0146 WRITTEN QUESTION E-3072/97 by Amedeo Amadeo (NI) to the Commission (2 October 1997)Subject: Environmental agreementsThe main objective of the Commissions communication on environmental agreements (COM(96) 561 final) is to promote and facilitate the use of effective and acceptable environmental agreements. These agreements are instruments for the integration or implementation of environment law in the Community. The communication should be seen in the light of the strategy outlined in the fifth action programme to extend the range of environment policy instruments and put into practice the concept of shared responsibility.The communication also seeks to clarify certain aspects of how environmental agreements can be used to implement certain provisions of Community directives in the Member States and how environmental agreements can be used at Community level.Does the Commission recommendation on environmental agreements refer only to their transposal into national law or does it also cover the application of the provisions once transposed?Answer given by Mrs Bjerregaard on behalf of the Commission (31 October 1997)The Commission Recommendation concerning environmental agreements implementing Community directives ((OJ L 333, 21.12.1996. )) not only concerns the transposition of certain provisions of directives into national law but also the implementation of the transposed law. The word implementation includes both the transposition into national law and the application of the transposed provisions. Clearly, where national legislation is in place to ensure compliance with a directive, the form of implementing these rules is less important. Nevertheless, the Commission considers the legal status of agreements as an important element of their success and therefore recommends that they be concluded in a legally-binding form. Top'

In [158]:
# comparison of summation method versions on test set
frms = [df_sum_original["id_sum_original"], df_sum_original_cand["id_sum_original_cand"], df_sum_original_ext['id_sum_original_ext'],df_sum_original_ext_cand['id_sum_original_ext_cand'],doubleframes[2]]
sum_result = pd.concat(frms, axis=1)
sum_result

,id_sum_original,id_sum_original_cand,id_sum_original_ext,id_sum_original_ext_cand,id_wsum_original_cand0.4,id_wsum_original_ext_cand0.4
0,32476,12744,32476,94936,32476,94936
1,33546,92986,33546,3453,12744,32476
2,37122,92988,37122,32476,92988,3453
3,34869,9649,34869,97319,94936,97319
4,30565,93921,30565,33546,97319,33546
5,36068,32476,36068,95196,92986,95196
6,3867,62937,3867,37122,33546,37122
7,95196,94936,95196,34869,95196,34869
8,94467,97319,94467,30565,9649,30565
9,38921,95196,38921,36068,37122,36068

In [159]:
values = sum_result.values.tolist()
flat_vals = []
for sublist in values:
    for item in sublist:
        flat_vals.append(item)
counter=collections.Counter(flat_vals)
print((counter))
print(len(counter))

Counter({32476: 6, 95196: 6, 33546: 5, 37122: 5, 94936: 4, 34869: 4, 97319: 4, 30565: 4, 36068: 4, 12744: 2, 92986: 2, 3453: 2, 92988: 2, 9649: 2, 3867: 2, 94467: 2, 38921: 2, 93921: 1, 62937: 1})
19

- same results for sum original and sum original_ext
- slight diff. between original ext cand and original ext cand wsum  
- ..

In [160]:
# comparison of summation method versions on test1 set
frames = [df_sum_original1["id_sum_original1"], df_sum_original_cand1["id_sum_original_cand1"], df_sum_original_ext1['id_sum_original_ext1'],df_sum_original_ext_cand1['id_sum_original_ext_cand1'],doubleframes1[2]]
sum_result1 = pd.concat(frames, axis=1)
sum_result1

,id_sum_original1,id_sum_original_cand1,id_sum_original_ext1,id_sum_original_ext_cand1,id_wsum_original_cand10.4,id_wsum_original_ext_cand10.4
0,94870,94870,94870,94870,94870,94870
1,11790,11790,92702,92702,11790,92702
2,100258,100258,93604,93604,100258,93604
3,97436,97436,97781,97781,97436,97781
4,28599,28599,93549,93549,28599,93549
5,92702,92702,14571,14571,92702,14571
6,97265,97265,97436,97436,97265,97436
7,50112,50112,100258,100258,50112,100258
8,62459,62459,44382,44382,62459,44382
9,49539,49539,98394,98394,49539,98394

- 1st place the same
- sum original, sum original cand, wsum original cand same
- sum original ext, sum original ext cand, wsum original ext  cand the same
  --> having ext or not gives different results

In [161]:
values = sum_result1.values.tolist()
flat_vals = []
for sublist in values:
    for item in sublist:
        flat_vals.append(item)
counter1=collections.Counter(flat_vals)
print((counter1))
print(len(counter1))

Counter({94870: 6, 92702: 6, 100258: 6, 97436: 6, 11790: 3, 93604: 3, 97781: 3, 28599: 3, 93549: 3, 14571: 3, 97265: 3, 50112: 3, 62459: 3, 44382: 3, 49539: 3, 98394: 3})
16

- 4 values appear in all columns, rest of the values appear in half columns (ext/not ext)

In [162]:
# for first 5 returned docs no difference between weighted and unweighted for alpha = 0.6,  alpha = 0.8, 1 #if all weight the same is same as
# if expansion would not exist
# only tokens / tokens + ext
# [(99, 0.048582995951417005), (380, 0.046610169491525424), (244, 0.04477611940298507), (89, 0.04371584699453552), (376, 0.04034065441506051)]
# [(244, 0.08955223880597014), (243, 0.08), (903, 0.04964539007092198), (99, 0.048582995951417005), (380, 0.046610169491525424)]
# unweighted with candidate exp:
# [(565, 0.048730964467005075), (1219, 0.0461864406779661), (12, 0.04042348411934552), (226, 0.039756782039289056), (22, 0.03749147920927062)]
# [(565, 0.05177664974619289), (1219, 0.04745762711864407), (12, 0.04138594802694899), (226, 0.04069223573433115), (22, 0.03953646898432175)]
# [(99, 0.048582995951417005), (380, 0.046610169491525424), (244, 0.04477611940298507), (89, 0.04371584699453552), (376, 0.04034065441506051)]
# [(244, 0.08955223880597014), (243, 0.08), (903, 0.04964539007092198), (99, 0.048582995951417005), (380, 0.046610169491525424)]

In [163]:
# for 10
# alpha 0.8, 1
# [(161, 0.027947874459039665), (313, 0.027129979796553974), (73, 0.025445292620865142), (402, 0.022429906542056073)]
# [(161, 0.027915369391449767), (313, 0.02712754175646111), (73, 0.025570205421714953), (402, 0.022429906542056073)]
# [(243, 0.032), (925, 0.031578947368421054), (1212, 0.03118536197295147), (910, 0.031168831168831172), (108, 0.03114754098360656)]
# [(1212, 0.036276849642004776), (89, 0.034972677595628415), (376, 0.032989690721649485), (925, 0.031578947368421054), (910, 0.031168831168831172)]
# for alpha 0.6 one change in one case
# only tokens/tokens+ext
# [(243, 0.04), (925, 0.039473684210526314), (1212, 0.03898170246618934), (910, 0.03896103896103896), (108, 0.0389344262295082)]
# [(1212, 0.045346062052505964), (89, 0.04371584699453552), (376, 0.041237113402061855), (925, 0.039473684210526314), (910, 0.03896103896103896)]

In [164]:
# #### 2.TFIDF evaluation
# texts_keys = []
# texts_values = []
# for key in sorted(texts.keys()) :
#     texts_keys.append(key)
#     texts_values.append(texts[key])

In [165]:
# vectorizer = TfidfVectorizer(stop_words = "english")
# vectors_t = vectorizer.fit_transform(texts_values)

In [166]:
# # get the first vector out (for the first document)
# vector_t = vectors_t[0]

In [167]:
# # place tf-idf values in a pandas data frame
# vector_dframe_t = pd.DataFrame(vector_t.T.todense(), index=vectorizer.get_feature_names(), columns=["tfidf"])
# vector_dframe_t = vector_dframe_t.sort_values(by=["tfidf"],ascending=False)

In [168]:
# vector_dframe_t.head(50) #treaty ne sesteje lepo, lahko bi text olepsal preden gre v vectorizer, a pojavitev pomeni istost?

In [169]:
# # try to solve with transformation into string of tokenized text:
# strings_keys = []
# strings = []
# for key in sorted(tokenized_docs.keys()) :
#     strings_keys.append(key)
#     list_tokens = tokenized_docs[key]
#     corrected = " ".join(list_tokens)
#     strings.append(corrected)

In [170]:
# vectors = vectorizer.fit_transform(strings)

In [171]:
# # get the first vector out (for the first document)
# vector = vectors[0]

In [172]:
# # place tf-idf values in a pandas data frame
# vector_dframe = pd.DataFrame(vector.T.todense(), index=vectorizer.get_feature_names(), columns=["tfidf"])
# vector_dframe = vector_dframe.sort_values(by=["tfidf"],ascending=False)

In [173]:
# vector_dframe.head(50) #not much difference

In [174]:
# calculate tfidf only for query words:

In [175]:
def nb_docs_tokens_appear(tokensI,tokenized_docsI,textsI):
    '''For each token in tokensI counts the number of documents the token has appeared'''
    docs_per_token = []
    for i in range(len(tokensI)):
        docs_per_token.append(0)
    for k, v in tokenized_docsI.items():
        content = tokenized_docsI.get(k)
        text = textsI.get(k)
        for i in range(len(tokensI)):
            token = tokensI[i]
            if token in text:
                docs_per_token[i] = docs_per_token[i]+1
    return docs_per_token

In [176]:
def tfidf_sum(tokensI,tokenized_docsI, textsI):
    '''First tuple argument similar to probab_score_sum function but different metric - tfidf, second returns words that did not occure in any document'''
    nb_docs_tokens_appeared = nb_docs_tokens_appear(tokensI,tokenized_docsI,textsI)
    filtered_nb_docs_tokens_appeared = [elt for elt in nb_docs_tokens_appeared if not elt == 0]
    not_appear = []
    appear = []
    for i in range(len(nb_docs_tokens_appeared)):
        if nb_docs_tokens_appeared[i] == 0:
            not_appear.append(tokensI[i])
        else:
            appear.append(tokensI[i])    
    l = len(tokenized_docsI)
    doc_probab = {}
    for k, v in tokenized_docsI.items():
        n = len(v)
        text = textsI.get(k)
        probability = 0
        for i in range(len(appear)):
            token_frequency = text.count(appear[i])
            idf = math.log(l/filtered_nb_docs_tokens_appeared[i])
            probability = probability+((token_frequency/n)*idf)
        doc_probab.update({k: probability})
    return doc_probab, not_appear

In [177]:
# tfidf metric for test set
tf = tfidf_sum(test,tokenized_docs, texts)
df_tfidf_sum_original = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original', 'score'])
tf[1] #query words that did not appear in any doc
df_tfidf_sum_original

   id_tfidf_sum_original     score
0                  32476  0.197593
1                  33546  0.189548
2                  37122  0.180744
3                  34869  0.178706
4                  95196  0.178279
5                  30565  0.174945
6                  36068  0.174911
7                   3867  0.174496
8                  63388  0.167434
9                  94467  0.166841

In [178]:
tf = tfidf_sum(test+ext,tokenized_docs, texts)
df_tfidf_sum_original_ext = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_ext', 'score'])
tf[1]
#df_tfidf_sum_original_ext

[]

In [179]:
tf = tfidf_sum(test+ext+top_list,tokenized_docs, texts)
df_tfidf_sum_original_ext_cand = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_ext_cand', 'score'])
tf[1]
#df_tfidf_sum_original_ext_cand

['earpollution']

In [180]:
tf = tfidf_sum(test+topw_list,tokenized_docs, texts)
df_tfidf_sum_original_cand = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_cand', 'score'])
tf[1]
#df_tfidf_sum_original_cand

['earpollution']

In [181]:
# compare results of tfidf sum for different input sets
frames = [df_tfidf_sum_original['id_tfidf_sum_original'], df_tfidf_sum_original_ext['id_tfidf_sum_original_ext'], df_tfidf_sum_original_ext_cand['id_tfidf_sum_original_ext_cand'],df_tfidf_sum_original_cand['id_tfidf_sum_original_cand']]
tfidf_sum_result = pd.concat(frames, axis=1)
tfidf_sum_result

,id_tfidf_sum_original,id_tfidf_sum_original_ext,id_tfidf_sum_original_ext_cand,id_tfidf_sum_original_cand
0,32476,32476,94936,92988
1,33546,33546,3453,12744
2,37122,37122,97319,92986
3,34869,34869,93533,9649
4,95196,95196,97320,94936
5,30565,30565,4505,97319
6,36068,36068,94953,92987
7,3867,3867,59175,93921
8,63388,63388,93921,47944
9,94467,94467,92988,3453

- tfifd sum original and tfidf sum original ext the same

In [182]:
#count number of appearances for each doument in upper dataframe
values = tfidf_sum_result.values.tolist()
flat_vals = []
for sublist in values:
    for item in sublist:
        flat_vals.append(item)
countertf=collections.Counter(flat_vals)
print((countertf))
print(len(countertf))

Counter({32476: 2, 94936: 2, 92988: 2, 33546: 2, 3453: 2, 37122: 2, 97319: 2, 34869: 2, 95196: 2, 30565: 2, 36068: 2, 3867: 2, 93921: 2, 63388: 2, 94467: 2, 12744: 1, 92986: 1, 93533: 1, 9649: 1, 97320: 1, 4505: 1, 94953: 1, 92987: 1, 59175: 1, 47944: 1})
25

In [183]:
#evaluating different merics
print(test)
print(ext)
print(top_list)
##############################################
#SUM
###############################################
# 94936 light pollution -, 32476 fishing quotas o, 97319 light pollution - , 3453 marine pollution o
# without weighted sum (below): 
# 32476 already appeared, 33546 fishing quotas o,37122 fishing quotas o,12744 groundwater protection +,92988 groundwater protection +
# 33546 fishing quotas o, 92986 groundwater protection +
# id_sum_original_cand best choice
##############################################
# TFIDF
##########################################
# 32476, 94936, 92988, 33546, 3453, 12744, ... 
# id_tfidf_sum_original_ext_cand -, id_tfidf_sum_original_cand +, id_tfidf_sum_original and id_tfidf_sum_original_ext o

['water', 'pollution', 'underground']
['pollutions', 'undergrounding']
['pollution', 'pollutions', 'undergrounding', 'earpollution', 'pollution,']

In [184]:
texts.get(94870)

'Avis juridique important|91998E2572WRITTEN QUESTION No. 2572/98 by John McCARTIN Fishing agreement with the Comores 1994-1997Official Journal C 320 , 06/11/1999 P. 0008 WRITTEN QUESTION E-2572/98by John McCartin (PPE) to the Commission(1 September 1998)Subject: Fishing agreement with the Comores 1994-1997Can the Commission state how many fishing vessels were involved in the 1994-1997 EU fishing agreement with the Comores, what was the tonnage of these vessels and how many days they fished under the agreement? Top'

In [185]:
# comparing best sum and best tfidf metric/combination of input data
best_test = pd.concat([tfidf_sum_result['id_tfidf_sum_original_cand'], sum_result['id_sum_original_cand']], axis=1)
best_test

   id_tfidf_sum_original_cand  id_sum_original_cand
0                       92988                 12744
1                       12744                 92986
2                       92986                 92988
3                        9649                  9649
4                       94936                 93921
5                       97319                 32476
6                       92987                 62937
7                       93921                 94936
8                       47944                 97319
9                        3453                 95196

In [186]:
values = best_test.values.tolist()
flat_vals = []
for sublist in values:
    for item in sublist:
        flat_vals.append(item)
countbestTest=collections.Counter(flat_vals)
print((countbestTest))
print(len(countbestTest))

Counter({92988: 2, 12744: 2, 92986: 2, 9649: 2, 94936: 2, 93921: 2, 97319: 2, 32476: 1, 92987: 1, 62937: 1, 47944: 1, 3453: 1, 95196: 1})
13

In [187]:
# different docs in dataframe best_test:
# sum probab:32476 o, 62937 +, 95196 o+
# tfidf sum :92987 +,47944 +, 3453 o,
# tfidf better

In [188]:
texts.get(95196)

'Avis juridique important|91998E3492WRITTEN QUESTION No. 3492/98 by Luigi MORETTI to the Commission. Pollution of surface waterOfficial Journal C 207 , 21/07/1999 P. 0077 WRITTEN QUESTION E-3492/98by Luigi Moretti (NI) to the Commission(25 November 1998)Subject: Pollution of surface waterThe drainage systems in built-up areas are often not designed to convey surface water, or water from recent rainfall, to water treatment plants. As a result, these waters flow into rivers, streams and lakes.To my knowledge there are currently no laws or provisions requiring these waters to be treated before they enter waterways.In view of the fact that surface water and water from recent rainfall are more polluted than sewage, since they contain over 2010 exhaust gases and heavy metals, can the Commission say what measures it intends to adopt in this area?Answer given by Mrs Bjerregaard on behalf of the Commission(12 January 1999)Rainwater on impermeable urban surfaces can be collected either separately from the domestic and industrial waste water of the built-up area (this is known as a separate sewer system) or in the same sewer as the waste water (a combined system). Two-thirds of urban areas have combined systems. Council Directive 91/271/EEC of 21 May 1991 concerning urban waste-water treatment(1) requires Member States to provide for the collection and treatment of the mixture of waste water and run-off rainwater in a combined sewer system. However, given that it is not possible in practice to construct collecting systems and treatment plants in a way such that all waste water can be treated during situations such as unusually heavy rainfall, the Directive lays down that Member States must decide on measures to limit pollution from storm water overflows. Such measures could be based on dilution rates or capacity in relation to dry weather flow, or could specify a certain acceptable number of overflows per year.As regards direct discharges of run-off water from separate sewer systems, the proposal for a Directive establishing a framework for Community action in the field of water policy(2), in providing that account should be taken of all major sources of pollution in each catchment area, will make it possible to regulate such discharges.(1) OJ L 135, 30.5.1991.(2) OJ C 108, 7.4.1998. Top'

In [189]:
# test1 set, query words that do not occure in any of documents
tf = tfidf_sum(test1,tokenized_docs, texts)
print(tf[1])
df_tfidf_sum_original1 = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original1', 'score'])
tf = tfidf_sum(test1+ext1,tokenized_docs, texts)
print(tf[1])
df_tfidf_sum_original_ext1 = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_ext1', 'score'])
tf = tfidf_sum(test1+ext1+top_list1,tokenized_docs, texts)
print(tf[1])
df_tfidf_sum_original_ext_cand1 = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_ext_cand1', 'score'])
tf = tfidf_sum(test1+topw_list1,tokenized_docs, texts)
print(tf[1])
df_tfidf_sum_original_cand1 = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_cand1', 'score'])

[]
['flwfishing']
['flwfishing', 'earpollution', 'biopollution']
['earpollution', 'biopollution']

In [190]:
frames = [df_tfidf_sum_original1['id_tfidf_sum_original1'], df_tfidf_sum_original_ext1['id_tfidf_sum_original_ext1'], df_tfidf_sum_original_ext_cand1['id_tfidf_sum_original_ext_cand1'],df_tfidf_sum_original_cand1['id_tfidf_sum_original_cand1']]
tfidf_sum_result1 = pd.concat(frames, axis=1)
tfidf_sum_result1

,id_tfidf_sum_original1,id_tfidf_sum_original_ext1,id_tfidf_sum_original_ext_cand1,id_tfidf_sum_original_cand1
0,94870,92702,92702,94870
1,11790,94870,94870,11790
2,97436,93604,93604,97436
3,100258,97781,97781,100258
4,28599,97436,97436,38528
5,50112,93549,93549,28599
6,97265,100258,100258,3455
7,39238,14571,14571,94936
8,49539,96942,96942,97319
9,96093,11790,11790,50112

- sum_original_ext and sum_original_ext_cand same, the other two columns same in first 4

In [191]:
values = tfidf_sum_result1.values.tolist()
flat_vals = []
for sublist in values:
    for item in sublist:
        flat_vals.append(item)
countertf1=collections.Counter(flat_vals)
print((countertf1))
print(len(countertf1))

Counter({94870: 4, 11790: 4, 97436: 4, 100258: 4, 92702: 2, 93604: 2, 97781: 2, 28599: 2, 50112: 2, 93549: 2, 14571: 2, 96942: 2, 38528: 1, 97265: 1, 3455: 1, 39238: 1, 94936: 1, 49539: 1, 97319: 1, 96093: 1})
20

In [192]:
# comparing results for test1 set
print(test1)
print(ext1)
print(top_list1)
############
#SUM
############################################################
#94870 fishing agreement EU +, 11790 fishing agreement EU +, 100258 fishing agreement +
#94870 11790, 100258 already, 92702 fishing agreement +, 93604 environmental agreement o ;better without extention
############################################################
# TFIDF
#94870, 92702, 11790, 94870,97436 overfishing, 93604
# better without ext

['annex', 'fishing', 'agreement', 'europe']
['flwfishing', 'agreements']
['earpollution', 'pollution', 'pollutants', 'biopollution', 'potable']

In [193]:
texts.get(97436)

'Avis juridique important|92000E3661WRITTEN QUESTION E-3661/00 by Glenys Kinnock (PSE) to the Commission. Coastal fishing in ACP countries.Official Journal 174 E , 19/06/2001 P. 0104 - 0105 WRITTEN QUESTION E-3661/00by Glenys Kinnock (PSE) to the Commission(27 November 2000)Subject: Coastal fishing in ACP countriesWould the Commission outline what measures it is taking to ensure that Community fishing vessels, operating under EU-ACP fishing agreements, respect the needs and rights of small-scale, coastal fishing communities in ACP countries and do not damage the local ACP fisheries sector?What action is the Commission taking to improve the capacity of ACP countries to patrol the waters under their jurisdiction, so as to control the activities of both Community and ACP fishing fleets and thereby prevent overfishing?Answer given by Mr Fischler on behalf of the Commission(5 January 2001)The Commission thanks the Honourable Member for her question and informs her that, in order to avoid clashes with small-scale traditional fishermen, protocols to fisheries agreements specify fishing zones for the Community which differ from those for local vessels.As for improving the capacity of African, Caribbean and Pacific (ACP) countries to control fishing activities, the Commission is pleased to inform the Honourable Member that, since 1997 the majority of fisheries agreements concluded between the Community and third countries (namely ACP countries) stipulate that an important part of the financial compensation paid in exchange for fishing possibilities be devoted to targeted actions, amongst which are monitoring, control and surveillance activities, including the setting up of satellite based vessel monitoring systems. Top'

In [194]:
def tfidf_sum_weights(original_tokens, top_expansion,tokenized_docs,texts, wv, alpha): 
    tokens_together = original_tokens+top_expansion
    nb_docs_tokens_appeared = nb_docs_tokens_appear(tokens_together,tokenized_docs,texts)
    filtered_nb_docs_tokens_appeared = [elt for elt in nb_docs_tokens_appeared if not elt == 0]
    not_appear = []
    appear = []
    for i in range(len(nb_docs_tokens_appeared)):
        if nb_docs_tokens_appeared[i] == 0:
            not_appear.append(tokens_together[i])
        else:
            appear.append(tokens_together[i])  
    l = len(tokenized_docs)
    doc_probab = {}
    for k, v in tokenized_docs.items():
        n = len(v)
        text = texts.get(k)
        probability = 0
        for i in range(len(appear)):
            token_frequency = text.count(appear[i])
            idf = math.log(l/filtered_nb_docs_tokens_appeared[i])
            probability = probability+((token_frequency/n)*idf)*word_value(appear[i], alpha, original_tokens, top_expansion, wv)
        doc_probab.update({k: probability})
    return doc_probab,not_appear

In [195]:
tfidf_original_query_ext_cand = []
for alpha in [0.5,0.6,0.7,0.8,0.9,1]:
    tfw = tfidf_sum_weights(test+ext, top_list,tokenized_docs,texts, wv_wiki_en, alpha)
    df_tfidf_wsum_original_ext_cand = pd.DataFrame(top_positives(tfw[0],10), columns =['id_tfidf_wsum_original_ext_cand'+str(alpha), 'score'+str(alpha)])
    tfidf_original_query_ext_cand.append(df_tfidf_wsum_original_ext_cand)

In [196]:
# comparing sorting for different alphas, original + ext + cand
frames =[]
for i in range(len(tfidf_original_query_ext_cand)):
    dataf = tfidf_original_query_ext_cand[i].take([0], axis=1)
    frames.append(dataf)
tfidfcon = pd.concat(frames, axis=1)
tfidfcon

,id_tfidf_wsum_original_ext_cand0.5,id_tfidf_wsum_original_ext_cand0.6,id_tfidf_wsum_original_ext_cand0.7,id_tfidf_wsum_original_ext_cand0.8,id_tfidf_wsum_original_ext_cand0.9,id_tfidf_wsum_original_ext_cand1
0,94936,94936,94936,94936,94936,94936
1,97319,97319,97319,97319,97319,97319
2,3453,3453,3453,3453,3453,3453
3,93533,93533,93533,93533,93533,93533
4,97320,97320,97320,97320,97320,97320
5,4505,59175,59175,59175,59175,59175
6,59175,4505,93921,93921,93921,93921
7,93921,93921,4505,4505,4505,4505
8,94953,94953,94953,94953,94953,94953
9,62286,62286,62286,62286,62286,62286

In [197]:
# ##########################
# #set json format in readable form (starting wih multiple objec format, need list)
# annotation_dir='D:/Users/sarab/work/enviroLens/files/'
# print('Loading annotations')
# annotations=[]
# for filename in os.listdir(annotation_dir):
#     print('loading file ',filename)
#     lines = [line.rstrip('\n') for line in open(annotation_dir+filename,encoding='utf-8')]
#     for line in lines:
#         js=json.loads(line)
#         annotations.append(js)